<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>{block title}gethype.cz{/block}</title>
            <link rel="stylesheet" href="{$basePath}/css/all-min.css">
            <link rel="shortcut icon" href="{$basePath}/favicon.ico">
            <link rel="icon" href="{$basePath}/images/other/custom_icon.png">
            <link rel="apple-touch-icon" href="{$basePath}/images/other/custom_icon.png">
            <meta name="apple-mobile-web-app-title" content="gethype.cz">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
            {block head}{/block}
    </head>

    <body class="{$bgColor}">
        
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
         
            {include content}
            
            {block scripts}
            <script src="{$basePath}/js/js-concat.js"></script>
            {/block}
    </body>
</html>
