{block title}gethype{/block}

{block content}

<div id="bgGate" class="overflowYscroll">
    
    <div class="gate">
        <h1>
            <span>get</span>
            <span class="yellow">hype</span>
            <svg width="33" height="25" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <title>getHype LOGO</title>
                    <g fill="#eecc51">
                      <rect x="27" y="0" width="5.3" height="24"/>
                      <rect x="9" y="10" width="5.3" height="14"/>
                      <rect x="0" y="3" width="5.3" height="21"/>
                      <rect x="18" y="5" width="5.3" height="19"/>
                    </g>
                </g>
            </svg>
        </h1>

        <h2>party social network</h2>
        
        <div id="directory">

            <div class="box">

                <div class="svgIconWrap">
                    
                    <div class="fbSquare">
                        <svg version="1.1" height="25" width="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.2 21.5" style="enable-background:new 0 0 10.2 21.5;" xml:space="preserve">
                            <path fill="#264fa7" d="M1,7.9h1.8V6.2c0-0.8,0-1.9,0.6-2.6C3.9,2.8,4.7,2.3,6,2.3c2.2,0,3.2,0.3,3.2,0.3L8.7,5.2C8.7,5.2,8,5,7.3,5 C6.6,5,6,5.2,6,5.9v2h2.8l-0.2,2.5H6v8.8H2.7v-8.8H1V7.9z"></path>
                        </svg>
                    </div>
<!--                    <input class="fbButton" type="submit" value="Pokračovat s Facebookem">-->
                        <a href="{link Place:default, 1}" class="fbButton">Pokračovat s Facebookem</a>
                </div>

                <div>
                    <div class="line"></div>
                    <div class="divider">nebo</div>
                    <div class="line"></div>
                </div>
                
                {snippet preRegistrationForm}
                <form n:name=preRegistrationForm class="ajax">
                    <input n:name=email class="input" type="email" placeholder="E-mail" spellcheck="false">
                    <input n:name=password placeholder="Vytvořit heslo     [alespoň 6 znaků]" class="input" value="" type="password">
                    <div n:if="$form->hasErrors()">
                        <div class="error">
                            <div n:foreach="$form->errors as $error" class="table">
                                <div class="icon">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                        <title>Warning Icon</title>
                                        <g>
                                            <title>Error</title>
                                            <g>
                                                <g>
                                                    <path d="m18.82856,13.02526l-5.69135,-9.48605c-0.74694,-1.24472 -1.88972,-1.95721 -3.1372,-1.95721s-2.39027,0.71249 -3.13721,1.95527l-5.69136,9.488c-0.75666,1.25999 -0.83944,2.60388 -0.22638,3.68693c0.61222,1.08388 1.80804,1.70582 3.27887,1.70582h11.55188c1.4711,0 2.66665,-0.62194 3.27887,-1.70472c0.61333,-1.08304 0.53055,-2.42693 -0.22611,-3.68803l0,0l0,0zm-8.82856,2.07055c-0.82222,0 -1.49222,-0.66889 -1.49222,-1.4911c0,-0.82305 0.66916,-1.49305 1.49222,-1.49305s1.49221,0.66999 1.49221,1.49305c0,0.82222 -0.66999,1.4911 -1.49221,1.4911zm1.57193,-7.14691c-0.01055,0.03 -1.3486,3.33859 -1.3486,3.33859c-0.03667,0.09055 -0.12528,0.15028 -0.2225,0.15028s-0.18583,-0.05973 -0.22222,-0.15028l-1.33916,-3.30943c-0.08667,-0.22445 -0.12417,-0.42667 -0.12417,-0.63083c0,-0.92888 0.75583,-1.68443 1.68471,-1.68443s1.68471,0.75555 1.68471,1.68443c0,0.20416 -0.03778,0.40638 -0.11278,0.60166l0,0z" fill="rgb(210, 26, 26)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="message">{$error}</div>
                            </div>
                        </div>
                    </div>
                    <input n:name=check type="submit" class="regButton" value="Registrace">
                </form>
                {/snippet}
                
            </div>
            <div>
                <div id="switchToLogin" class="button signin" tabindex="0">Přihlásit se</div>
            </div>
        </div>
        
        <div id="login">
            
            <div class="box">
                
                <div id="switchFromLogin" class="goBack" tabindex="0">
                    <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Go back</title>
                            <g transform="rotate(90 22.5,22.500000000000004)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m41.27401,13.74448c-0.342,0.448 -0.669,1.004 -1.113,1.44101c-5.318,5.247 -10.673,10.457 -15.971,15.724c-1.529,1.519 -2.764,1.322 -4.215,-0.127c-5.052,-5.043 -10.173,-10.018 -15.256,-15.029c-0.34802,-0.34399 -0.67102,-0.74899 -0.87601,-1.18698c-0.117,-0.24902 -0.08301,-0.785 0.08398,-0.90402c0.35001,-0.245 0.99402,-0.54398 1.23602,-0.38699c0.82401,0.534 1.55798,1.22501 2.271,1.91202c4.06201,3.91898 8.11901,7.84297 12.15301,11.78997c2.618,2.562 2.378,2.705 5.002,0.126c4.262,-4.189 8.563,-8.33799 12.864,-12.48799c0.71,-0.686 1.476,-1.32098 2.271,-1.90399c0.189,-0.14001 0.662,-0.07101 0.896,0.07501c0.25,0.15598 0.37,0.51797 0.654,0.95798l0,0l0,-0.00002z" fill="white"/>
                            </g>
                        </g>
                    </svg>
                </div>
                
                <div class="loginWrap">
                    
                    {snippet loginForm}
                    <form n:name=loginForm class="ajax">
                        <input n:name=email class="input" type="email" placeholder="E-mail" spellcheck="false">
                        <input n:name=password class="input" type="password" placeholder="Heslo">
                        <div>
                            <div n:if="$form->hasErrors()" class="error">
                                <div n:foreach="$form->errors as $error" class="table">
                                    <div class="icon">
                                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                            <title>Warning Icon</title>
                                            <g>
                                                <title>Error</title>
                                                <g>
                                                    <g>
                                                        <path d="m18.82856,13.02526l-5.69135,-9.48605c-0.74694,-1.24472 -1.88972,-1.95721 -3.1372,-1.95721s-2.39027,0.71249 -3.13721,1.95527l-5.69136,9.488c-0.75666,1.25999 -0.83944,2.60388 -0.22638,3.68693c0.61222,1.08388 1.80804,1.70582 3.27887,1.70582h11.55188c1.4711,0 2.66665,-0.62194 3.27887,-1.70472c0.61333,-1.08304 0.53055,-2.42693 -0.22611,-3.68803l0,0l0,0zm-8.82856,2.07055c-0.82222,0 -1.49222,-0.66889 -1.49222,-1.4911c0,-0.82305 0.66916,-1.49305 1.49222,-1.49305s1.49221,0.66999 1.49221,1.49305c0,0.82222 -0.66999,1.4911 -1.49221,1.4911zm1.57193,-7.14691c-0.01055,0.03 -1.3486,3.33859 -1.3486,3.33859c-0.03667,0.09055 -0.12528,0.15028 -0.2225,0.15028s-0.18583,-0.05973 -0.22222,-0.15028l-1.33916,-3.30943c-0.08667,-0.22445 -0.12417,-0.42667 -0.12417,-0.63083c0,-0.92888 0.75583,-1.68443 1.68471,-1.68443s1.68471,0.75555 1.68471,1.68443c0,0.20416 -0.03778,0.40638 -0.11278,0.60166l0,0z" fill="rgb(210, 26, 26)"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="message">{$error}</div>
                                </div>
                            </div>
                        </div>
                        <input class="button" n:name=login type="submit" value="Přihlásit se">
                    </form>
                    {/snippet}

                    <div>
                        <div id="switchToForgotPassword" class="forgotPassword" tabindex="0">Zapomenuté heslo?</div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div id="registration">
            
            <div class="box">
                
                <div id="switchFromRegistration" class="goBack" tabindex="0">
                    <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Go back</title>
                            <g transform="rotate(90 22.5,22.500000000000004)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m41.27401,13.74448c-0.342,0.448 -0.669,1.004 -1.113,1.44101c-5.318,5.247 -10.673,10.457 -15.971,15.724c-1.529,1.519 -2.764,1.322 -4.215,-0.127c-5.052,-5.043 -10.173,-10.018 -15.256,-15.029c-0.34802,-0.34399 -0.67102,-0.74899 -0.87601,-1.18698c-0.117,-0.24902 -0.08301,-0.785 0.08398,-0.90402c0.35001,-0.245 0.99402,-0.54398 1.23602,-0.38699c0.82401,0.534 1.55798,1.22501 2.271,1.91202c4.06201,3.91898 8.11901,7.84297 12.15301,11.78997c2.618,2.562 2.378,2.705 5.002,0.126c4.262,-4.189 8.563,-8.33799 12.864,-12.48799c0.71,-0.686 1.476,-1.32098 2.271,-1.90399c0.189,-0.14001 0.662,-0.07101 0.896,0.07501c0.25,0.15598 0.37,0.51797 0.654,0.95798l0,0l0,-0.00002z" fill="white"/>
                            </g>
                        </g>
                    </svg>
                </div>
                
                {snippet registrationForm}
                
                <div class="userMail">
                    {$registrationEmail}
                </div>
                
                <form n:name=registrationForm class="ajax" enctype="multipart/form-data">
                    <input n:name=name class="input" type="text" placeholder="Křestní jméno a příjmení" spellcheck="false">

                    <div class="radioCheck">
                        
                        {foreach $form[sex]->items as $key => $label}
                                
                            <div id="{$key}" tabindex="0">
                                <input n:name="sex:$key" id="{$key}Option" class="radio" type="radio" data-check="{if ($key == "male")}true{else}false{/if}" {if ($key == "male")}checked{/if}>
                                <label for="{$key}Option"></label>
                                <span class="labelText">{$label}</span>
                            </div>
                                
                        {/foreach}

                        <input n:name=age class="spinner age input" type="number" min="15" max="60" placeholder="Věk">
                    </div>

                    <div>
                        <div class="image-editor">
                            <div class="image-upload">
                                <label for="file-input" tabindex="0">
                                    <span>Vybrat profilovou fotku</span>  
                                </label>
                                <input id="file-input" class="cropit-image-input" accept="image/*" type="file">
                            </div>
                            <div>
                                <div class="cropit-image-preview"></div>
                            </div>
                            <div class="inputRange">
                                <input id="rangeSlider" type="range" class="slider cropit-image-zoom-input">
                            </div>
                            <div n:if="$form->hasErrors()">
                                <div class="error">
                                    <div n:foreach="$form->errors as $error" class="table">
                                        <div class="icon">
                                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                                <title>Warning Icon</title>
                                                <g>
                                                    <title>Error</title>
                                                    <g>
                                                        <g>
                                                            <path d="m18.82856,13.02526l-5.69135,-9.48605c-0.74694,-1.24472 -1.88972,-1.95721 -3.1372,-1.95721s-2.39027,0.71249 -3.13721,1.95527l-5.69136,9.488c-0.75666,1.25999 -0.83944,2.60388 -0.22638,3.68693c0.61222,1.08388 1.80804,1.70582 3.27887,1.70582h11.55188c1.4711,0 2.66665,-0.62194 3.27887,-1.70472c0.61333,-1.08304 0.53055,-2.42693 -0.22611,-3.68803l0,0l0,0zm-8.82856,2.07055c-0.82222,0 -1.49222,-0.66889 -1.49222,-1.4911c0,-0.82305 0.66916,-1.49305 1.49222,-1.49305s1.49221,0.66999 1.49221,1.49305c0,0.82222 -0.66999,1.4911 -1.49221,1.4911zm1.57193,-7.14691c-0.01055,0.03 -1.3486,3.33859 -1.3486,3.33859c-0.03667,0.09055 -0.12528,0.15028 -0.2225,0.15028s-0.18583,-0.05973 -0.22222,-0.15028l-1.33916,-3.30943c-0.08667,-0.22445 -0.12417,-0.42667 -0.12417,-0.63083c0,-0.92888 0.75583,-1.68443 1.68471,-1.68443s1.68471,0.75555 1.68471,1.68443c0,0.20416 -0.03778,0.40638 -0.11278,0.60166l0,0z" fill="rgb(210, 26, 26)"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="message">{$error}</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input id="registrationFormSubmit" n:name=register type="submit" value="Zaregistrovat" class="regButton redButtonBottom">
                            </div>
                        </div>
                    </div>
                    <input n:name=email type="hidden" value="{$registrationEmail}">
                    <input n:name=password type="hidden" value="{$registrationPassword}">
                    <input id="imageBase64" n:name=imageBase64 type="hidden">
                    {if $registrationLocker}
                        <script src="js/ajax/rangeslider.min.js"></script>
                        <script src="js/ajax/registrationForm.js"></script> 
                    {/if}
                </form>
                {/snippet}  
                    
            </div>     
            
        </div>
        
        <div id="forgotPassword">
            
            <div class="box">
                
                <div id="switchFromForgotPassword" class="goBack" tabindex="0">
                    <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Go back</title>
                            <g transform="rotate(90 22.5,22.500000000000004)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="m41.27401,13.74448c-0.342,0.448 -0.669,1.004 -1.113,1.44101c-5.318,5.247 -10.673,10.457 -15.971,15.724c-1.529,1.519 -2.764,1.322 -4.215,-0.127c-5.052,-5.043 -10.173,-10.018 -15.256,-15.029c-0.34802,-0.34399 -0.67102,-0.74899 -0.87601,-1.18698c-0.117,-0.24902 -0.08301,-0.785 0.08398,-0.90402c0.35001,-0.245 0.99402,-0.54398 1.23602,-0.38699c0.82401,0.534 1.55798,1.22501 2.271,1.91202c4.06201,3.91898 8.11901,7.84297 12.15301,11.78997c2.618,2.562 2.378,2.705 5.002,0.126c4.262,-4.189 8.563,-8.33799 12.864,-12.48799c0.71,-0.686 1.476,-1.32098 2.271,-1.90399c0.189,-0.14001 0.662,-0.07101 0.896,0.07501c0.25,0.15598 0.37,0.51797 0.654,0.95798l0,0l0,-0.00002z" fill="white"/>
                            </g>
                        </g>
                    </svg>
                </div>
                
                <div class="forgotPasswordWrap">
                    
                    <input class="input" type="email" placeholder="Přihlašovací e-mail" spellcheck="false">
                      
                    <input class="button" type="submit" value="Obnovit heslo">
                </div>
                    
            </div>
            
        </div>
        
    </div>
    
</div>
