body
{
    .placeHolder(white);
    height: 100%;
    position: relative;
}

.ashBG
{
    background: linear-gradient(to left, #606c88, #3f4c6b);
}

.joomlaBG
{
    background: linear-gradient(to left, #1e3c72, #2a5298);
}

.pinkyBG
{
    background-image: linear-gradient(to left, #b0696d, #823f63);
}

.kashmirBG
{
    background-image: linear-gradient(to left, #614385, #516395);
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes gatePulse {
    from      {background-position: center 0%;}
    to        {background-position: center 100%;}
}

/* Standard syntax */
@keyframes gatePulse {
    from      {background-position: center 0%;}
    to        {background-position: center 100%;}
}

#bgGate
{
    background-color: black;
    background-image: url("../images/gate/bgGateMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: absolute;
    width: 100%;
    -webkit-animation: gatePulse 180s linear; /* Safari 4+ */
    -moz-animation:    gatePulse 180s linear; /* Fx 5+ */
    -o-animation:      gatePulse 180s linear; /* Opera 12+ */
    animation:         gatePulse 180s linear; /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards;
}

@media (min-width: 460px)
{
    #bgGate
    {
        min-height: 100% !important;
    }
}

@media (min-width: 760px)
{
    #bgGate
    {
        min-height: 100% !important;
        background-image: url("../images/gate/bgGate.jpg");
    }
}

.overflowYscroll
{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.placeholder
{
    color: #b3978c;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.input
{
    width: 224px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255,255,255,.05);
    border: 0px rgba(0,0,0,.2) solid;
    .borderRadius(3px);
    outline: none;
    color: white;
    -webkit-appearance: none;
}

.button
{
    .borderRadius(3px);
    background-color: rgba(255,255,255,.08);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover
{
    background-color: rgba(255,255,255,.1);
}

.radioCheck
{
    input[type="checkbox"], input[type="radio"]
    {
        display:none;
    }

    .check + label, .radio + label
    {
        pointer-events: none;
        .inlineBlock(middle);
        width: 18px;
        height: 18px;
        cursor: pointer;
        background:url(../images/radioCheck/RadioCheckbox.png) left top no-repeat;
    }

    .radio + label
    {
        background:url(../images/radioCheck/RadioCheckbox.png) -36px top no-repeat;
    }


    .check:checked + label
    {
        background:url(../images/radioCheck/RadioCheckbox.png) -18px top no-repeat;
    }

    .radio:checked + label
    {
        background:url(../images/radioCheck/RadioCheckbox.png) -54px top no-repeat;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) 
{ 
    .radioCheck
    {
        .radio + label
        {
            background:url(../images/radioCheck/RadioCheckbox@2x.png) -36px top no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .radio:checked + label
        {
            background:url(../images/radioCheck/RadioCheckbox@2x.png) -54px top no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .check + label
        {
            background:url(../images/radioCheck/RadioCheckbox@2x.png) left top no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .check:checked + label
        {
            background:url(../images/radioCheck/RadioCheckbox@2x.png) -18px top no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}

.yellow
{
    color: #eecc51;
}

.inlineBlock
{
    .inlineBlock(middle);
}

.error
{
    text-align: left;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0,0,0,.3);
    padding: 10px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    
    .table
    {
        display: table;
        width: 100%;
        position: relative;
        margin-top: 10px;
        
        .icon, .message
        {
            display: table-cell;
            vertical-align: middle;
        }

        .icon
        {
            width: 12%;
        }
        
        .message
        {
            width: 88%;
        }
        
        svg
        {
            vertical-align: middle;
        }
    }
    
    .table:first-child
    {
        margin-top: 0;
    }
}

.inputRange
{
    
    input[type=range]::-ms-tooltip {
            display: none;
    }
    
    input[type=range] 
    {
        /*removes default webkit styles*/
        -webkit-appearance: none;

        /*required for proper track sizing in FF*/
        width: 100%;
        max-width: 258px;
    }

    input[type=range]::-webkit-slider-runnable-track 
    {
        width: 258px;
        height: 2px;
        background: black;
        border: none;
    }

    input[type=range]::-webkit-slider-thumb 
    {
        -webkit-appearance: none;
        border: none;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: white;
        margin-top: -12px;
        cursor: move;
    }

    input[type=range]:focus 
    {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track 
    {
        background: black;
    }

    input[type=range]::-moz-range-track 
    {
        width: 258px;
        height: 2px;
        background: black;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb 
    {
        border: none;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: white;
        cursor: move;
    }

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring
    {
        outline: none;
        outline-offset: -1px;
    }

    input[type=range]::-ms-track 
    {
        width: 258px;
        height: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;

        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 2px 0;

        /*remove default tick marks*/
        color: transparent;
    }

    input[type=range]::-ms-fill-lower 
    {
        background: black;
        border-radius: 14px;
    }

    input[type=range]::-ms-fill-upper 
    {
        background: black;
        border-radius: 14px;
    }

    input[type=range]::-ms-thumb
    {
        border: none;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: white;
        cursor: move;
        margin-top: -1px;
    }

    input[type=range]:focus::-ms-fill-lower 
    {
        background: black;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: black;
    }
    
}

.submenu
{
    margin: 0;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 0;
    padding-top: 0;
    box-sizing: border-box;
    .absoluteCenter(100%);
    background-color: rgba(0, 0, 0, .8);
    .boxShadow(0px, 3px, 3px, 0px, .2);
    display: none;   
    .borderRadius(0px 0px 3px 3px);
    
    li
    {
        font-size: 0;
    }
    
    .time
    {
        margin-top: 5px;
        color: #b3978c;
    }
    
    .inlineBlock
    {
        padding-left: 62px;
        .inlineBlock(middle);
        width: auto;
        min-height: 50px;
    }
    
    .next
    {
        text-align: center;
        
        span
        {
            margin-left: 3px;
            margin-right: 3px;
            .circle(8px,#b3978c);
            .inlineBlock(middle);
        }
    }
    
    li
    {
        list-style-type: none;
        margin-bottom: 6px;
        
        a
        {
            background-color: rgba(255,255,255,.05);
            padding: 12px;
            display: inline-block;
            color: white;
            text-decoration: none;
            width: 100%;
            box-sizing: border-box;
            transition: background-color 0.3s ease;
            position: relative;
            .borderRadius(3px);
        }
        
        a:hover
        {
            background-color: rgba(255,255,255,.08);
        }
        
        img
        {
            .borderRadius(3px);
            .inlineBlock(middle);
            .boxShadow(0px, 3px, 3px, 0px, .2);
            position: absolute;
        }
        
        .square
        {
            position: absolute;
        }
        
        .wrap
        {
            .inlineBlock(middle);
        }
    }
}

.owl-carousel
{
    .owl-controls
    {
        padding-top: 20px;

        .owl-pagination
        {
            text-align: center;

            .owl-page
            {
                .inlineBlock(middle);
                width: 20px;

                span
                {
                    .circle(10px, rgba(0,0,0,.5));
                    .inlineBlock(middle);
                    margin-left: 6px;
                    margin-right: 6px;
                    transition: background-color 0.3s ease;
                }
            }

            .owl-page:hover
            {
                span
                {
                    .circle(12px, rgba(0, 0, 0, 0.8));
                }
            }

            .active
            {
                span
                {
                    .circle(12px, white);
                }
            }

            .active:hover
            {
                span
                {
                    background-color: white;
                }
            }
        }

        .owl-buttons
        {
            > div
            {
                position: absolute;
                bottom: 40%;
                padding: 20px;
                color: white;
                .inlineBlock(middle);
                background-color: rgba(0,0,0,.5);
                .boxShadow(0px, 3px, 3px, 0px, .2);
                height: 85px;
                width: 85px;
            }
            > div:hover
            {
                background-color: rgba(0,0,0,.8);
            }
            .owl-prev
            {
                left: 0;
                .borderRadius(0px 3px 3px 0px);
            }
            .owl-next
            {
                right: 0;
                .borderRadius(3px 0px 0px 3px);
            }
        }
    }
}

.addCard
{
    background-color: rgba(0,0,0,.5);
    .borderRadius(3px);
    padding: 12px;
    .boxShadow(0px, 3px, 3px, 0px, .2);

    .form
    {
        width: 100%;
        .placeHolder(#b3978c);
        .webkitScrollbar();
        display: none;
        position: relative;

        .photo
        {

            label
            {
                width: 100%;
                .inlineBlock(middle);
                text-align: center;

                span
                {
                    .inlineBlock(middle);
                    max-width: 120px;
                    overflow: hidden;
                }
            }

            svg
            {
                margin-top: -2px;
                margin-bottom: -6px;
                margin-right: 5px;
                g
                {
                    fill: white;
                }
            }

            input[type="file"]
            {
                display: none;
            }
        }

        .image-editor
        {
            .inputRange
            {
                display: none;
                margin-top: 12px;

                input[type="range"]
                {
                    max-width: none;
                }
            }

            .cropit-image-preview-wrap
            {
                text-align: center;
            }

            .cropit-image-preview
            {
                display: none;
                margin-top: 15px;
                width: 240px;
                height: 240px;
                .boxShadow(0px, 3px, 3px, 0px, .2);
                .borderRadius(4px);
                cursor: move;
                border: 2px rgba(0,0,0,.5) solid;
            }
        }

        .addCardButton
        {
            position: relative;
            margin-top: 12px;

            .button
            {
                margin-top: 0;
            }

            .wrap
            {
                .absoluteCenter(150px);
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                pointer-events: none;
                line-height: 100%;

                svg
                {
                    margin-right: 4px;
                }

                span, svg
                {
                    .inlineBlock(middle);
                }
            }
        }

        textarea
        {
            width: 100%;
            height: 111px;
            box-sizing: border-box;
            resize: none;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 150%;
        }

        .rating
        {
            display: table;
            width: 100%;
            margin-top: 12px;

            .input
            {
                width: 100%;
                height: 42px;
                border: 0;
                .borderRadius(0);
                padding: 0;
                box-sizing: border-box;
                text-align: center;
                background-color: rgba(0,0,0,.05);
                padding-top: 15px;
            }

            .spinnerWrap
            {
                position: relative;
            }
        }

        .index
        {
            width: 33%;
            display: table-cell;
            text-align: center;
            background-color: rgba(255,255,255,.01);
            border-left: 5px rgba(0,0,0,.03) solid;
            position: relative;
            .borderRadius(0px 0px 3px 3px);

            a
            {
                outline: none;
            }
        }

        .index:first-child
        {
            border-left: none;
        }

        .iconWrap
        {
            padding-top: 15px;
            padding-bottom: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: block;
            .borderRadius(3px 3px 0px 0px);
        }

        .iconWrap:hover
        {
            background-color: rgba(255,255,255,.03);
        }

        .radioCheck
        {
            cursor: pointer;
            margin-top: 5px;
        }

        .button
        {
            width: 100%;
            margin-top: 10px;
        }

        .error
        {
            margin-top: 12px;
        }
    }

    .link
    {
        background-color: rgba(255,255,255,.03);
        .inlineBlock(middle);
        width: 100%;
        cursor: pointer;
        height: 275px;
        position: relative;
        transition: background-color 0.3s ease;
        .borderRadius(3px);
    }

    .link:hover
    {
        background-color: rgba(255,255,255,.05);
    }

    .plusIcon
    {
        .absoluteCenter(140px);
        top: 50%;
        height: 140px;
        margin-top: -70px;
    }

    .label
    {
        text-align: center;
        .absoluteCenter(140px);
        bottom: 20px;
        color: white;
    }
    
    .inputRange
    {
        background-color: rgba(0,0,0,.05);
        height: 40px;

        input[type=range]::-moz-range-track 
        {
            width: 100% !important;
        }

        input[type=range]::-webkit-slider-runnable-track 
        {
            width: 100% !important;
        }

        input[type=range]::-ms-track 
        {
            width: 100% !important;
            padding-top: 5px;
        }

        input[type=range]
        {
            display: inline-block;
            height: 40px;
            background-color: rgba(0,0,0,0);
        }

        input[type=range]::-webkit-slider-thumb 
        {
            height: 20px;
            width: 20px;
            margin-top: -10px;
            background: #eecc51;
        }

        input[type=range]::-moz-range-thumb 
        {
            height: 20px;
            width: 20px;
            margin-top: -10px;
            background: #eecc51;
        }

        input[type=range]::-ms-thumb
        {
            height: 20px;
            width: 20px;
            margin-top: -5px;
            background: #eecc51;
        }

        input[type=range]::-ms-fill-lower 
        {
            background: rgba(166,134,133,.18);
            height: 1px;
            margin-bottom: 2px;
        }

        input[type=range]::-ms-fill-upper 
        {
            background: rgba(166,134,133,.18);
            height: 1px;
            margin-bottom: 2px;
        }

        input[type=range]::-moz-range-track 
        {
            background: rgba(166,134,133,.18);
            height: 1px;
            margin: 1px;
        }

        input[type=range]::-webkit-slider-runnable-track 
        {
            background: rgba(166,134,133,.18);
            height: 1px;
            margin: 1px;
        }

    }

    .error
    {
        margin-top: 12px;
        margin-bottom: 0;
    }
}

.marginTop6px
{
    margin-top: 6px;
}

.marginTop15px
{
    margin-top: 15px;
}

.underline
{
    text-decoration: underline;
}