.card
{
    background-color: rgba(0,0,0,.5);
    .borderRadius(3px);
    .boxShadow(0px, 3px, 3px, 0px, .2);
    padding-top: 12px;
    padding-bottom: 12px;
    
    .picture
    {
        overflow: hidden;
        .boxShadow(0px, 3px, 3px, 0px, .2);
        
        img
        {
            margin-top: -15px;
            width: 100%;
            height: auto;
        }
    }
    
    .identity
    {
        margin-bottom: 13px;
        padding-left: 12px;
        padding-right: 12px;
        
        .link
        {
            width: 100%;
            .inlineBlock(middle);
            text-decoration: none;
        }
        
        .link:hover
        {
            .name
            {
                text-decoration: underline;
            }
        }
        
        img
        {
            .boxShadow(0px, 3px, 3px, 0px, .2);
            .borderRadius(3px);
            .inlineBlock(middle);
            position: absolute;
        }
        
        .name
        {
            color: white;
        }
        
        .time
        {
            color: #b3978c;
            padding-top: 2px;
        }
        
        .wrap
        {
            .inlineBlock(middle);
            padding-left: 62px;
            box-sizing: border-box;
            width: auto;
            min-height: 50px;
        }
        
        .sentence, .hype
        {
            margin: 0;
        }
        
        .sentence
        {
            color: white;
        }
    }
    
    .flyer
    {
        position: relative;
        overflow: hidden;
        .boxShadow(0px, 3px, 3px, 0px, .2);
        
        .link
        {
            .inlineBlock(top);
            width: 100%;
            text-decoration: none;
            position: relative;
        }
        
        img
        {
            width: 100%;
            height: auto;
            margin-top: -20px;
            display: block;
        }
    }
    
    .partyHead
    {
        text-align: center;
        
        .link
        {
            text-decoration: none;
            background-color: rgba(255,255,255,.03);
            .inlineBlock(middle);
            padding: 15px;
            width: 100%;
        }
        
        .link:hover
        {
            background-color: rgba(255,255,255,.05);
        }
        
        h2
        {
            color: white;
            margin: 0;
            
            span, svg
            {
                .inlineBlock(middle);
            }
        }
        
        .dateAndHype
        {
            margin-top: 2px;
            color: white;
        }
    }
        
    .entities, .title
    {
        color: white;
        text-transform: uppercase;
        line-height: 170%;
        margin-top: 8px;
        margin-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .title
    {
        text-align: center;
    }
    
    .divider
    {
        border-top: 1px rgba(166,134,133,.18) solid;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    
    .description
    {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 12px;
        padding-right: 12px;
        
        .link
        {
            color: white;
            text-decoration: none;
        }
        
        .link:hover
        {
            text-decoration: underline;
        }
    }
    
    .reviewRating
    {
        display: table;
        width: 100%;
        padding-top: 5px;
        
        .index
        {
            display: table-cell;
            text-align: center;
        }
        
        .value
        {
            color: white;
            word-spacing: -1px;
            padding-top: 3px;
        }
    }
    
    .sceneRating
    {
        .inlineBlock(bottom);
        text-align: center;
        position: relative;
        overflow: hidden;
        .boxShadow(0px, 3px, 3px, 0px, .2);
        
        .circles
        {
            position: absolute;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }

        .picture2
        {
            width: 100%;
            height: auto;
            margin-top: -20px;
            display: block;
        }
            
        .box
        {
            text-align: center;
            position: relative;
            display: inline-block;
            margin-left: 9px;
            margin-right: 9px;
            margin-bottom: 7px;
            .borderRadius(44px);
            background-color: rgba(0,0,0,.5);

            > svg
            {
                .inlineBlock(top);
            }

            .attribute
            {
                text-transform: uppercase;
                color: white;
                margin-top: 12px;
            }

            .inCircle
            {
                .absoluteCenter(35px);
                top: 18px;
            }

            .value
            {
                color: white;
                margin-top: 5px;
            }
        }
    }
    
    .sceneActivities
    {
        font-size: 0;
        width: 100%;
        display: block;
        
        .cell
        {
            background-color: rgba(255,255,255,.03);
            color: white;
            text-decoration: none;
            padding: 12px;
            width: 100%;
            display: inline-block;
            margin-bottom: 0;
            box-sizing: border-box;
            transition: all 0.3s ease;
            border-bottom: 1px rgba(166,134,133,.18) solid;
            position: relative;
            
            img
            {
                .boxShadow(0px, 3px, 3px, 0px, .2);
                .borderRadius(3px);
                .inlineBlock(top);
                margin-bottom: 14px;
                margin-right: 14px;
                position: absolute;
            }
            
            .box
            {
                .inlineBlock(top);
                padding-left: 62px;
                min-height: 51px;
            }
            
            .content
            {
                margin: 0;
                display: block;
                width: auto;
            }
            
            .timing
            {
                margin-top: 5px;
                color: #b3978c;
            }
        }
        
        .cell:hover
        {
            background-color: rgba(255,255,255,.05);
        }
        
        .next
        {
            display: inline-block;
            box-sizing: border-box;
            background-color: rgba(255,255,255,.03);
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            width: 100%;
            margin-bottom: -12px;
            
            .circle
            {
                .circle(8px,rgba(179,151,140,.3));
                margin-top: 5px;
                margin-bottom: 5px;
                .inlineBlock(middle);
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .next:hover
        {
            background-color: rgba(255,255,255,.05);
        }

    }
    
    .paragraph
    {
        color: white;
        line-height: 150%;
        margin-top: -4px;
        margin-bottom: -1px;
        text-align: justify;
        min-height: 8px;
        overflow: hidden;
        padding-left: 12px;
        padding-right: 12px;
        
        .button
        {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    
    .entityName
    {
        color: #b3978c;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
    }
    
    .entityName::first-letter
    {
        text-transform: uppercase;
    }
    
    .embedded
    {
        .boxShadow(0px, 3px, 3px, 0px, .2);
        .borderRadius(3px);
        overflow: hidden;
        
        .frame
        {
            margin-top: -15px;
        }
    }
    
    .users
    {
        display: table;
        width: 100%;
        
        .user
        {
            color: white;
            text-decoration: none;
            display: inline-table;
            position: relative;
            width: 49%;
            min-height: 50px;
            vertical-align: top;
        
            img
            {
                .boxShadow(0px, 3px, 3px, 0px, .2);
                .borderRadius(6px);
                .inlineBlock(middle);
                position: absolute;
            }

            span
            {
                .inlineBlock(middle);
                padding-left: 64px;
                box-sizing: border-box;
                overflow: hidden;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 95%;
            }
        }
        
        .user:nth-child(odd)
        {
            margin-top: 12px;
            
            img
            {
                margin-left: 12px;
            }
            
            span
            {
                padding-left: 76px;
            }
        }
        
        .user:first-child
        {
            margin-top: 0 !important;
        }
        
        .user:hover
        {
            span
            {
                text-decoration: underline;
            }
        }
    }
}