.gate
{
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
    
    //WAYS OF .gate
    
    #directory
    {
        display: block;
    }
    
    #registration
    {
        display: none;
    }
    
    #login
    {
        display: none;
    }
    
    #forgotPassword
    {
        display: none;
    }
    
    //end WAYS of .gate
    
    h1
    {
        color: white;
        margin: 0;
        padding-top: 10px;

        svg
        {
            margin-left: 5px;
            margin-bottom: -1px;
        }
        
        .yellow
        {
            color: #eecc51;
        }
    }
    
    h2
    {
        color: white;
        padding-top: 5px;
        margin: 0;
    }
    
    .signin
    {
        margin-top: 15px;
        margin-bottom: 40px;
        display: inline-block;
    }
    
    .button
    {
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: rgba(255,255,255,.08);
    }
    
    .button:hover
    {
        background-color: rgba(255,255,255,.1);    
    }
    
    .box
    {
        background-color: rgba(0,0,0,.3);
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
    
    .svgIconWrap
    {
        position: relative;
        margin-bottom: 2px;
        display: inline-block;

        .fbSquare
        {
            background-color: white;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            position: absolute;
            top: 10px;
            left: 10px;
            pointer-events: none;
            cursor: pointer;
            .borderRadius(4px);
            
            svg
            {
                position: absolute;
                right: -3px;
                bottom: -3px;
                pointer-events: none;
                cursor: pointer;
            }
        }
    }
    
    .fbButton
    {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 56px;
        width: 202px;
        color: white;
        background-color: #264fa7;
        .borderRadius(4px);
        border: 0;
        display: inline-block;
        text-decoration: none;
        transition: background-color 0.3s ease;
        text-align: left;
    }
    
    .fbButton:hover
    {
        background-color: #23499b;
    }
    
    .line
    {
        background-color: rgba(255,255,255,.34);
        height: 2px;
        width: 100px;
        .inlineBlock(middle);
    }
    
    .divider
    {
        margin-top: 13px;
        margin-bottom: 13px;
        color: white;
        .inlineBlock(middle);
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .input
    {
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 238px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255,255,255,.1);
        opacity: .8;
    }
    
    .input:focus
    {
        opacity: 1;
        background-color: rgba(255,255,255,.05);
    }
    
    .regButton
    {
        .borderRadius(4px);
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: #c61e26;
        padding-top: 13px;
        padding-bottom: 13px;
        width: 256px;
        margin-top: 5px;
        border: 0;
        text-align: center;
        transition: background-color 0.3s ease;
    }
    
    .redButtonBottom
    {
        margin-bottom: 50px;
    }
    
    .regButton:hover
    {
        background-color: #AD1A21;
    }
    
    .goBack
    {
        background-color: rgba(255,255,255,.08);
        padding: 5px;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 0;
        .borderRadius(4px);
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        svg
        {
            display: inline-block;
            pointer-events: none;
        }
    }
    
    .goBack:hover
    {
        background-color: rgba(255,255,255,.1);
    }
    
    .userMail
    {
        color: white;
        margin-top: 85px;
        margin-bottom: 20px;
    }
    
    .age
    {
        position: absolute;
        right: 0;
        top: 0;
        width: 48px !important;
    }
    
    .cropit-image-preview 
    {
        display: inline-block;
        margin-top: 7px;
        height: 240px;
        width: 240px;
        cursor: move;
        background-color: rgba(255,255,255,.1);
        border: 2px rgba(0,0,0,1) solid;
        .borderRadius(162px);
        .boxShadow(0px, 3px, 3px, 0px, .2);
    }
    
    .image-upload
    {
        margin-bottom: 20px;
        
        span
        {
            color: white;
            height: 18px;
            display: inline-block;
            width: 258px;
            padding-top: 13px;
            padding-bottom: 13px;
            margin-top: 5px;
            cursor: pointer;
            .borderRadius(4px);
            background-color: rgba(255,255,255,.08);
            transition: background-color 0.3s ease;
        }
        
        span:hover
        {
            background-color: white;
            background-color: rgba(255,255,255,.1);
        }
        
        .hover
        {
            display: none;
        }
    }
    
    .image-upload > input
    {
        display: none;
    }
    
    .cropit-image-zoom-input
    {
        margin-top: 15px;
        margin-bottom: 25px;
        outline: initial;
    }
    
    .cropit-image-input
    {
        display: none;
    }
    
    .inputRange
    {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    .loginWrap, .forgotPasswordWrap
    {
        margin-top: 85px;
        
        .button
        {
            width: 258px;
            display: inline-block;
            margin-top: 5px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .placeholder
    {
        color: white !important;
    }
    
    .radioCheck
    {
        width: 258px;
        display: inline-block;
        position: relative;
        text-align: left;
        margin-top: 18px;
        margin-bottom: 30px;

        .labelText
        {
            color: white;
            margin-left: 5px;
        }

        #male, #female
        {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            cursor: pointer;
            .inlineBlock(middle);
        }
    }
    
    .forgotPassword
    {
        color: white;
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .forgotPassword:hover
    {
        text-decoration: underline;
    }
    
    .error
    {
        width: 258px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
{
    .cropit-image-zoom-input
    {
        height: 40px !important;
        margin-bottom: 0 !important;
        margin-top: 5px !important;
        padding: 0 !important;
    }
    
    .inputRange
    {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

@media (min-width: 460px)
{
    .gate
    {
        h1
        {
            text-align: center;
            padding-top: 30px;
            
            svg
            {
                margin-left: 15px;
            }
        }
        
        h2
        {
            padding-top: 10px;
            text-align: center;
        }
        
        .box
        {
            padding: 50px;
            max-width: 360px;
            box-sizing: border-box;
            margin-top: 40px;
            .borderRadius(8px);
        }
        
        .divider
        {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .input
        {
            display: block;
            padding-left: 15px;
            padding-right: 15px;
            width: 228px;
            margin-bottom: 10px;
        }
        
        .button
        {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        
        .svgIconWrap
        {
            svg
            {
                top: 6px;
            }
        }
        
        .regButton
        {
            width: 258px;
            padding-top: 13px;
            padding-bottom: 13px;
            cursor: pointer;
        }
        
        .redButtonBottom
        {
            margin-bottom: 0;
        }
        
        .svgIconWrap
        {
            svg
            {
                top: 6px;
            }
        }
        
        .userMail
        {
            margin-top: 50px;
        }
        
        .loginWrap, .forgotPasswordWrap
        {
            margin-top: 50px;
        }
            
        .error
        {
            width: 100%;
        }   
        
    }
}