.grid
{
    margin: 0 auto;
    position: relative;
    
    .grid-item 
    {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
        display: inline-block;
    }
}

@media (min-width: 630px)
{
    .grid
    {
        .grid-item 
        {
            width: 49%;
        }
    }
}

@media (min-width: 685px)
{
    .grid
    {
        .grid-item 
        {
            width: 49.3%;
        }
    }
}

@media (min-width: 900px)
{
    .grid
    {
        .grid-item
        {
            width: 32.4%;
        }
    }
}

@media (min-width: 940px)
{
    .grid
    {
        .grid-item
        {
            width: 32.6%;
        }
    }
}

@media (min-width: 980px)
{
    .grid
    {
        .grid-item
        {
            width: 32.65%;
        }
    }
}

@media (min-width: 1005px)
{
    .grid
    {
        .grid-item
        {
            width: 32.68%;
        }
    }
}