.header
{
    padding-top: 80px;
    .webkitScrollbar();
    text-align: center;
    
    .identity
    {
        .inlineBlock(middle);
        width: 100%;
        
        img
        {
            .borderRadius(81px);
            .boxShadow(0px, 3px, 3px, 0px, .2);
            .inlineBlock(middle);
            margin-bottom: 30px;
            height: 162px;
            width: 162px;
        }
    }
    
    .entity
    {
        .inlineBlock(middle);
        width: 100%;
        text-align: center;

        .introduction
        {
            color: white;
        }
        
        .breadcrumb
        {
            margin-bottom: 10px;
        }
        
        .breadcrumb.buttons
        {
            a
            {
                padding-right: 5px;
                margin-top: 0;
                .borderRadius(3px);
                
                span
                {
                    height: 18px;
                }
            }
        }
        
        .buttons
        {
            a
            {
                color: white;
                text-decoration: none;
                .inlineBlock(middle);
                background-color: rgba(255,255,255,.05);
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 15px;
                margin-right: 7px;
                margin-left: 7px;
                margin-top: 15px;
                .boxShadow(0px, 3px, 3px, 0px, .04);
                transition: background-color 0.3s ease;
                .borderRadius(3px);
                
                svg, span
                {
                    .inlineBlock(middle);
                }
            }

            a:hover
            {
                background-color: rgba(255,255,255,.08);
            }
            
            .arrowRight
            {
                .arrowRight(5px, white);
                .inlineBlock(middle);
                margin-left: 2px;
            }
            
            .arrowBottom
            {
                .arrowBottom(5px, white);
                .inlineBlock(middle);
                margin-left: 2px;
                margin-top: 5px;
            }
        }
    }
    
    h1
    {
        color: white;
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 130%;
    }
    
    .buttonOn
    {
        .borderRadius(3px 3px 0px 0px) !important;
        
        .arrowBottom
        {
            transform: rotate(180deg);
        }
    }
    
    .placeSelectorButton
    {
        cursor: pointer;
        background-color: rgba(255,255,255,.05);
        transition: background-color 0.3s ease;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
        position: relative;
        display: block;
        .borderRadius(3px);

        .arrowBottom
        {
            pointer-events: none;
        }
        
        .otherPlace
        {
            .inlineBlock(middle);
            color: white;
            padding-right: 10px;
        }
        
        svg
        {
            .inlineBlock(middle);
        }
        
        
        > div, h1, svg
        {
            pointer-events: none;
        }
        
        h1
        {
            margin-bottom: 0;
        }
    }
    
    .placeSelectorButton:hover
    {
        background-color: rgba(255,255,255,.08);
    }
    
    .placeSelectorBox
    {
        padding-top: 7px;
        overflow-y: auto;
        text-align: left;
        height: 250px;
        
        .name
        {
            margin-top: 7px;
        }
    }
    
    .letterSpacing
    {
        letter-spacing: 2px;
    }
    
}

@media (min-width: 378px)
{
    .header
    {
        .placeSelectorButton
        {
            .otherPlace
            {
                display: none;
            }
        }
    }
}

@media (min-width: 770px)
{
    .header
    {
        font-size: 0;
        text-align: left;
        
        .identity
        {
            text-align: right;
            width: 33.2%;
            margin-bottom: 0;
            box-sizing: border-box;
            text-align: center;
            
            img
            {
                margin-bottom: 0;
            }
        }
        
        .entity
        {
            width: auto;
            text-align: left;
            
            .features, .breadcrumb
            {
                font-size: 0;

                a
                {
                    margin-left:0;
                    margin-right: 10px;
                }
            }       
        }
        
        .placeSelectorButton
        {
            .description
            {
                padding-left: 3px;
            }
        }
     
        .placeSelector
        {
            .inlineBlock(middle);
            text-align: left;
            
            .box
            {
                padding: 15px;
            }
        }
    }
}