.ledge
{
    background-color: rgba(0,0,0,.8);
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    .boxShadow(0px, 3px, 3px, 0px, .2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    .webkitScrollbar();
    
    .logo
    {
        color: white;
        font-size: 0;
        .inlineBlock(middle);
        height: 32px;
        padding-top: 4px;
        margin-left: 0;
        margin-top: 1px;
        background-color: rgba(255,255,255,.05);
        .inlineBlock(top);
        padding: 5px;
        transition: background-color 0.3s ease;
        .borderRadius(3px);
        
        span
        {
            display: none;
        }

        svg
        {
            .inlineBlock(middle);
            margin-top: 5px;
        }
    }
    
    .logo:hover
    {
        background-color: rgba(255,255,255,.08);
    }
    
    .search
    {
        .inlineBlock(middle);
        .placeHolder(#b3978c);
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: 1px;
        
        svg
        {
            display: none;
            position: absolute;
            right: 6px;
            top: 6px;
            pointer-events: none;
        }
        
        .input
        {
            height: 30px;
            width: 230px;
            padding-left: 7px;
            padding-right: 30px;
            .borderRadius(3px);
        }
        
        .searchInputDesktop
        {
            display: none;
        }
        
        .submenu
        {
            display: none;
            top: 38px;
        }
        
        .searchBox
        {
            max-height: 250px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            
            .name
            {
                margin-top: 7px;
            }

            .searchInputMobile
            {
                text-align: center;
                
                .input
                {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 31px;
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }
    }
    
    .user
    {
        position: absolute;
        right: 10px;
        top: 0;
        display: inline-block;
        margin-top: 1px;
        font-size: 0;
        
        .control
        {
            background-color: rgba(255,255,255,.05);
            .inlineBlock(top);
            padding: 5px;
            color: white;
            text-decoration: none;
            height: 32px;
            margin-left: 6px;
            transition: background-color 0.3s ease;
            .borderRadius(3px);

            img
            {
                .boxShadow(0px, 3px, 3px, 0px, .2);
                .inlineBlock(middle);
                .borderRadius(4px);
            }

            svg
            {
                .inlineBlock(middle);
                pointer-events: none;
            }

            span
            {
                margin-left: 4px;
                .inlineBlock(middle);
                pointer-events: none;
            }
        }

        a:hover
        {
            background-color: rgba(255,255,255,.08);
        }
        
        .colorPicker
        {
            margin: 2px;
        }
        
        .controlOn
        {
            height: 38px;
            .borderRadius(3px 3px 0px 0px);
        }
    }
    
    .notificationBox, .colorPickerBox
    {
        right: auto;
        left: 0;
        top: 39px;
        width: 100%;
        height: 250px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 0;
    }
    
    .colorPickerBox
    {
        .name
        {
            margin-top: 14px;
        }
        
        .square
        {
            height: 50px;
            width: 50px;
            .inlineBlock(middle);
            
            div
            {
                height: 50px;
                width: 50px;
                .borderRadius(6px);
                .inlineBlock(middle);
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) 
{
    .ledge
    {
        .search
        {
            .input
            {
                height: 24px;
            }
        }
    }
}


@media (min-width: 560px)
{
    .ledge
    {
        .user
        {
            .searchButton
            {
                display: none;
            }
        }
        
        .search
        {
            position: relative;
            width: auto;
            left: auto;
            margin-left: 5px;

            .input, svg
            {
                display: block;
            }
            
            .searchInputMobile
            {
                display: none;
            }
            
            .searchBox
            {
                left: -6px;
                padding-right: 0;
                box-sizing: content-box;
            }
        }
        
        .notificationBox, .colorPickerBox
        {
            width: 350px;
            right: 10px;
            left: auto;
            height: 250px;
        }
    }
}

@media (min-width: 640px)
{
    .ledge
    {
        .search
        {
            margin-left: 2px;
        }
        
        .logo
        {
            padding-top: 5px;
            svg
            {
                margin-top: 0;
                margin-left: 5px;
            }
            
            span
            {
                .inlineBlock(middle);
            }
        }
    }
}

@media (min-width: 780px)
{
    .ledge
    {
        .search
        {
            .input
            {
                width: 350px;
            }
        }
    }
}