.navigation
{
    margin-top: 36px;
    
    ul
    {
        display: table;
        width: 100%;
        padding: 0;
        font-size: 0;
    }
    
    li
    {
        display: table-cell;
        width: 33.33%;
        list-style-type: none;
        text-align: center;
        vertical-align: top;
    }
    
    li:first-child
    {
        a
        {
            .borderRadius(3px 0px 0px 3px);
        }
    }
    
    li:last-child
    {
        a
        {
            border-right: 0;
            .borderRadius(0px 3px 3px 0px);
        }
    }
    
    a
    {
        text-decoration: none;
        color: white;
        display: inline-block;
        background-color: rgba(255,255,255,.05);
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
        border-right: 2px rgba(0,0,0,0.1) solid;
    }
    
    
    a:hover
    {
        background-color: rgba(255,255,255,.08);
    }
    
    a.active
    {
        background-color: rgba(255,255,255,.005);
        
        .activeTagger
        {
            border-top: 5px white solid;
            width: 100%;
            top: -5px;
            position: absolute;
            text-align: center;
            font-size: 0;
            
            .arrowBottom
            {
                .arrowBottom(5px, white);
                display: inline-block;
                top: 0px;
                .absoluteCenter(0px);
            }
        }
        
        svg
        {
            g
            {
                fill: #eecc51;
            }
            
            rect, polyline, line, circle, polygon
            {
                stroke: #eecc51;
            }
            
            path
            {
                stroke: none;
            }
        }
        
        .number
        {
            color: #eecc51;
        }
    }
    
    a.active:hover
    {
        background-color: rgba(255,255,255,.005);
    }
    
    svg
    {
        display: inline-block;
        
        path
        {
            stroke: none;
        }
    }
    
    .link
    {
        margin-top: 10px;
    }
    
    .number
    {
        .absoluteCenter(20px);
        top: 55px;
    }
    
    .divider
    {
        display: block;
    }
}

@media(min-width: 480px)
{
    .navigation
    {
        .divider
        {
            display: none;
        }
    }
}