.popUp
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    display: none;
    .webkitScrollbar();
    
    .paddingSides
    {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    
    .control
    {
        background-color: rgba(0,0,0,.8);
        .borderRadius(3px);
        padding: 12px;
        .boxShadow(0px, 3px, 3px, 0px, .2);
        max-width: 465px;
        box-sizing: border-box;
        padding: 12px;
        .relativeCenter();
        margin-top: 100px;
        position: relative;
        color: white;
    }
    
    .logIn
    {
        padding: 5px;
        height: 32px;
        display: inline-block;
        box-sizing: border-box;


        svg, span
        {
            .inlineBlock(middle);
        }

        span
        {
            margin-left: 4px;
        }
    }

    .logInWrap
    {
        text-align: right;
        margin-top: 12px;
    }

    .popUpTitle
    {
        color: #b3978c;
        border-bottom: 1px rgba(166,134,133,.18) solid;
        padding-bottom: 12px;
        padding-right: 50px;
    }

    .popUpBody
    {
        padding-top: 12px;
    }
    
    .closeCross
    {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        cursor: pointer;
    }
    
    .blackWrap
    {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-color: rgba(0,0,0,.8);
        position: absolute;
        top: 0;
    }
    
    .width90
    {
        width: 90px;
        .inlineBlock(middle);
    }
    
    .otherPlaces
    {
        display: block;
        height: 250px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        
        .name
        {
            margin-top: 7px;
        }
    }
}