.sceneDescribe
{
    display: none;
    margin-top: 40px;
    
    .sceneGalleryOwlCarousel
    {
        .owl-wrapper-outer
        {
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
        }
        
        .item
        {
            box-sizing: border-box;
            position: relative;
            font-size: 0;
            .boxShadow(0px, 3px, 3px, 0px, .2);
            margin-bottom: -4px;
            
            img
            {
                width: 100%;
                height: auto;
            }
            
            .link
            {
                font-size: 0;
            }
        }
    }
    
    .priceList
    {
        padding: 0;
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 0;
        display: inline-block;
        width: 100%;
        
        li
        {
            .inlineBlock(top);
            width: 100%;
            margin-bottom: 10px;
            position: relative;
            //overflow: hidden;           
        }
        
        .itemWrap
        {
            .boxShadow(0px, 3px, 3px, 0px, .2);
            position: relative;
        }
        
        .picture
        {
            position: absolute;
            z-index: -1;
            height: 100%;
            
            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                -o-object-fit: covers;
                .borderRadius(3px);
            }
        }
        
        .priceItem
        {
            text-align: center;
            list-style-type: none;
            box-sizing: border-box;
            width: 100%;
            .borderRadius(3px);
            box-sizing: border-box;
            background-size: cover;
            padding-top: 200px;
        }
        
        h2
        {
            color: white;
            margin: 0;
            padding: 12px;
            padding-top: 20px;
            padding-bottom: 0;
            line-height: 100%;
            display: block;
            text-shadow: 1px 1px 3px #000;
        }
        
        .nameOffer
        {
            text-transform: uppercase;
        }
        
        .darkWrap
        {
            background-color: rgba(0,0,0,.5);
            .borderBottomRadius(3px);
        }
        
        .description
        {
            color: white;
            display: block;
            width: 100%;         
            padding-left: 12px;
            padding-right: 12px;
            box-sizing: border-box;
            height: 50px;
            position: relative;
            overflow: hidden;
            line-height: 130%;
            text-shadow: 1px 1px 3px #000;
            
            > div
            {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 30px;
            }
        }
    }
    
    .overviewRating
    {
        padding-left: 0;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        text-align: center;
        
        li
        {
            list-style-type: none;
            .inlineBlock(top);
            margin-left: 30px;
            margin-right: 30px;
            position: relative;
            margin-top: 35px;
        }
        
        .icon
        {
            position: absolute;
            .absoluteCenter(60px);
            top: 25px;
        }
        
        .value
        {
            color: white;
            .absoluteCenter(80px);
            top: 80px;
            word-spacing: -4px;
        }
        
        .index
        {
            margin-top: 15px;
        }
    }
    
    .reviews
    {
        margin-top: 20px;
    }
}

@media (min-width: 460px)
{
    .sceneDescribe
    {
        .priceList
        {
            li
            {
                width: 50%;
                
            }
            
            li:nth-child(odd)
            {
                padding-right: 10px;
                
            }
        }
    }
}

@media (min-width: 860px)
{
    .sceneDescribe
    {
        .priceList
        {
            li
            {
                width: 25%;
                padding-right: 10px;
            }
            
            li:last-child
            {
                padding-right: 0;
            }
        }
    }
}