{block title}Frýdek-Místek{/block}

{block content}

<div class="header">
    <div class="inner">
        <div class="identity">
            <img src="../images/places/{$place->picture}_max.jpg">
        </div>
        <div class="entity">
            <div class="breadcrumb buttons">
                <a id="showOtherPlaces" href="">
                    <span>Vybrat jiné místo</span>
                    <div class="arrowRight"></div>
                </a>
            </div>
            <h1 id="placeName">
                {$place->name}
            </h1>
            <div class="introduction">
                <span>Ve městě je 60 uživatelů, z toho 5 má business profil.</span>
            </div>
            <div class="features buttons">
                <a href="#" tabindex="0" target="_blank">
                    <svg width="20" height="25" xmlns="http://www.w3.org/2000/svg">
                        <g fill="white">
                           <title>Add</title>
                           <rect x="0" y="11.5" width="16" height="2.5"></rect>
                           <rect x="7" y="4.5" width="2.5" height="16"></rect>
                        </g>
                    </svg>
                    <span>Založit scénu</span>
                </a>
            </div>
        </div>
    </div>
</div>
                
<div id="navigation" class="navigation">
    <div class="inner">
        <ul>
            <li>
                <a href="" id="placeEventsButton" class="active">
                    <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Future events</title>
                            <rect x="6.128" y="13.356" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="62.593" height="54.381"></rect>
                            <rect x="13.129" y="26.955" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="48.539" height=".5"></rect>
                            <rect x="22.434" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.492" height="9.129"></rect>
                            <rect x="51.002" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.493" height="9.129"></rect>
                        </g>
                    </svg>
                    <div class="link">Budoucí <br class="divider">akce</div>
                    <span class="number">{$place->future_events}</span>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" id="placeScenesButton">
                    <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
                        <g fill="white">
                            <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="19.606,13.842 5.876,13.842 5.876,67.683 
                                68.584,67.683 68.584,13.957 53.932,13.957"/>
                            <path d="M36.8,6c-6.09,0-11.027,4.461-11.027,9.962c0,5.501,9.892,16.553,11.027,16.553
                                c1.181,0,11.03-11.051,11.03-16.553C47.83,10.461,42.891,6,36.8,6z M36.8,22.095c-3.824,0-6.925-2.801-6.925-6.256
                                c0-3.456,3.101-6.257,6.925-6.257c3.825,0,6.929,2.801,6.929,6.257C43.729,19.293,40.625,22.095,36.8,22.095z"/>
                        </g>
                    </svg>
                    <div class="link">Místní <br class="divider">scény</div>
                    <span class="number">{$place->scenes}</span>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" id="placeServicesButton">
                    <svg version="1.1" width="98px" height="75px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="45 -32 100 75" style="enable-background:new 45 -32 100 75;" xml:space="preserve">
                        <g fill="white" stroke="white">
                            <path d="M67.3,6l6.5,9l1.6,1.6l-2,1.9c-1.3,1.3-1.2,3.5,0.3,5c0.8,0.8,1.8,1.2,2.8,1.2c0.1,0,0.2,0,0.2,0
                                    c-0.2,0.4-0.3,0.8-0.3,1.3c-0.1,1.1,0.3,2.1,1,2.8c0.6,0.6,1.5,1,2.5,1c0.3,0,0.7,0,1-0.1c-0.3,1.2,0,2.6,1,3.6
                                    c0.7,0.7,1.6,1.1,2.6,1.1c0.4,0,0.8-0.1,1.1-0.2c0,0.1,0,0.2,0,0.3c0,1,0.5,2,1.2,2.8c0.8,0.8,1.8,1.2,2.9,1.2
                                    c0.8,0,1.6-0.3,2.1-0.8l2.5-2.4c0.8,0.7,1.9,1.1,3.1,1.1c1.3,0,2.5-0.4,3.3-1.2c0.7-0.7,1.1-1.7,1.2-2.7c0.5,0.1,1.1,0.2,1.7,0.2
                                    c1.2,0,2.3-0.4,3-1c0.8-0.7,1.2-1.8,1.3-2.8c0.3,0.1,0.7,0.1,1,0.1c1.3,0,2.4-0.4,3.2-1.1c0.9-0.9,1.3-2.2,1.3-3.5
                                    c0.1,0,0.1,0,0.2,0c1.3,0,2.4-0.4,3.2-1.2c1.6-1.6,1.6-4.8-0.1-6.5l-1.1-1.2l4.6-7.3l1.9-1.8l-17.3-17.1l-1.6,1.6
                                    c-0.3,0.3-0.8,0.5-1.2,0.4l-7.1-0.5c-1.1-0.1-2.2,0.2-3.2,0.8v-0.1l-3.4-1.1c-0.2-0.1-0.4-0.3-0.6-0.4l-2.1-2 M66.7-1.3
                                    c-0.9,0.9-2.3,0.9-3.1,0c-0.9-0.8-0.9-2.2,0-3.1s2.3-0.9,3.1,0C67.6-3.6,67.6-2.2,66.7-1.3z M83.7-10.2l2.1,2
                                    c0.4,0.4,0.8,0.7,1.2,0.9l2.5,0.9l-6.7,6.6L82,1c-0.7,0.7-1,1.5-1,2.5c0,1.2,0.5,2.5,1.4,3.4c1,1,2.4,1.6,3.7,1.6
                                    c0.9,0,1.7-0.3,2.4-0.9L95.9,0L115,18.5c0.7,0.6,0.8,2.2,0.2,2.8c-0.3,0.3-0.8,0.4-1.4,0.4s-1.1-0.2-1.4-0.4h-0.1c0,0,0,0-0.1-0.1
                                    l-5.8-5.7c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l5.7,5.8c0.1,0.1,0.1,0.1,0.2,0.2l0.1,0.1c0.5,0.5,0.5,2-0.2,2.7
                                    c-0.2,0.2-0.8,0.4-1.4,0.4c-0.8,0-1.5-0.2-1.8-0.5c-0.1-0.2-0.2-0.3-0.4-0.5l-5.2-5.1c-0.5-0.5-1.3-0.5-1.8,0s-0.5,1.3,0,1.8
                                    l5.2,5.1c0.1,0.1,0.1,0.1,0.2,0.2c0.4,0.6,0.3,1.8-0.4,2.5c-0.2,0.2-0.6,0.3-1.2,0.3c-0.9,0-1.7-0.3-2-0.6l-0.6-0.9l-0.1-0.1
                                    l-0.1-0.1l-2.5-2.4c-0.5-0.5-1.3-0.5-1.8,0s-0.5,1.3,0,1.8l2.6,2.6c0.6,0.7,0.5,2.2-0.1,2.8c-0.3,0.3-0.9,0.5-1.5,0.5
                                    s-1.1-0.2-1.4-0.5L95.6,33c0,0,0,0-0.1-0.1c0-0.9-0.4-1.8-1-2.6l-0.2-0.2c-0.8-0.7-1.7-1.2-2.7-1.2c0.3-0.6,0.5-1.2,0.5-1.9
                                    c0-1-0.4-2-1.1-2.7s-1.6-1.1-2.6-1.1c-0.1,0-0.1,0-0.2,0c0.8-1.5,0.6-3.3-0.5-4.5c-0.6-0.6-1.5-1-2.5-1c-0.8,0-1.7,0.3-2.5,0.7
                                    c0,0,0,0,0-0.1c-0.1-0.8-0.4-1.7-1-2.3l-0.2-0.2c-0.8-0.8-1.8-1.2-2.8-1.2c-0.5,0-0.9,0.1-1.3,0.3l-1.5-1.4l-6.8-9.3"/>
                            <polygon style="fill:none;stroke-width:3;stroke-miterlimit:10;" points="115.7,-23.9 106.6,-14.9 126.3,4.4 135.4,-4.5 	"/>
                            <polygon style="fill:none;stroke-width:3;stroke-miterlimit:10;" points="66,5.4 56.9,-3.6 76.5,-22.9 85.7,-14 	"/>
                        </g>
                    </svg>
                    <div class="link">Business <br class="divider">profily</div>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
      
<div class="placeEvents">
    <div class="inner">
        <div id="gridPlaceEvents" class="grid">
        {foreach $futureEvents as $event}
        <div class="grid-item">
            <div class="card">
                <div class="identity">
                    <a href="{link Scene:default, $event->scene->id}" class="link">
                        <img src="../images/scenes/{$event->scene->picture}_med.jpg">
                        <div class="wrap">
                            <div class="name marginTop15px">{$event->scene->name}</div>
                        </div>
                    </a>
                </div>
                <div class="partyHead">
                    <a href="{link Event:default, $event->id}" class="link">
                        <h2>{$event->name}</h2>
                        <div class="dateAndHype">
                            <time datetime="{$event->datetime}">{$event->datetime|date:'j.n.Y'} |</time>
                            <span class="yellow">{$event->hype} hype</span>
                        </div>
                    </a>
                </div>
                <div class="flyer">
                    <a href="{link Event:default, $event->id}" class="link">
                        <img data-parallax='{"y": 20}' src="../images/events/{$event->picture}.jpg">
                    </a>
                </div>
                <p class="entities">
                    {foreach $event->related('entity') as $entity}
                        {$entity->title}
                        {if $entity->name} - {/if}
                        {$entity->name}
                        {foreach $entity->related('user_entity_mapping') as $map}
                            {if $iterator->counter == 1}
                                -
                            {else}
                                &
                            {/if}
                            {$map->user->name}
                        {/foreach}
                        {if !$iterator->last}
                        |
                        {/if}
                        {/foreach}
                </p>
                <div class="divider"></div>
                <p class="description">
                    {$event->description}    
                </p>
            </div>
        </div>
        {/foreach}
    </div>
    </div>
</div>

<div class="placeScenes">
    <div class="inner">
        <div id="gridPlaceScenes" class="grid">
        {foreach $scenes as $scene}
        <div class="grid-item">
            <div class="card">
                <div class="identity">
                    <a href="{link Scene:default, $scene->id}" class="link">
                        <img src="../images/scenes/{$scene->picture}_med.jpg">
                        <div class="wrap">
                            <div class="name marginTop6px">{$scene->name}</div>
                            <p class="sentence">15 recenzí | <span class="yellow">{$scene->hype} hype</span></p>
                        </div>
                    </a>
                </div>
                <a href="{link Scene:default, $scene->id}" class="sceneRating">
                    <img class="picture2" data-parallax='{"y": 20}' src="../images/scenes/{$scene->picture2}.jpg">
                    <div class="circles">
                        <div>
                            <div class="box">
                                <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="44" cy="44" r="40" fill="none" stroke="white" stroke-width="2" stroke-dasharray="{2.5*$scene->atmosphere},20000" transform="rotate(-90,44,44)"></circle>
                                    <circle cx="44" cy="44" r="40" fill="none" stroke-opacity="0.33" stroke="white" stroke-width="2"></circle>
                                </svg>
                                <div class="inCircle">
                                    <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                        <title>Atmosphere</title>
                                        <g>
                                            <path fill="#eecc51" d="m31.78773,9.82625h-7.78466l-1.64878,-3.26906c-0.20101,-0.39729 -0.63115,-0.62007 -1.07324,-0.55238c-0.43968,0.06783 -0.78557,0.41124 -0.8572,0.85019l-0.7369,4.53817l-0.69771,4.29623l-0.54296,-4.24082l-1.20115,-9.37907c-0.06162,-0.47903 -0.4481,-0.84991 -0.92857,-0.89211c-0.48154,-0.03757 -0.9259,0.25616 -1.06977,0.71659l-3.06717,9.83425l-0.92143,2.95448l-0.46926,-2.89233l-0.69331,-4.27427c-0.07297,-0.44816 -0.43134,-0.79532 -0.88151,-0.85367c-0.4497,-0.05494 -0.88558,0.18526 -1.06977,0.60058l-1.71,3.84019h-3.22216c-0.56674,0 -1.02668,0.45998 -1.02668,1.02671c0,0.56673 0.45995,1.02651 1.02668,1.02651h3.88909c0.40557,0 0.77302,-0.23867 0.93772,-0.60919l0.288,-0.64611l0.29328,-0.65819l0.10348,0.64023l1.20429,7.42616c0.0759,0.47019 0.46572,0.82562 0.94092,0.8598c0.47527,0.02904 0.91061,-0.26377 1.05281,-0.71787l2.43876,-7.82032l1.44583,-4.63424l0.58155,4.54405l1.46252,11.42311c0.06462,0.50538 0.49102,0.88725 1.0008,0.89626c0.00561,0 0.01155,0 0.01763,0c0.50224,0 0.93237,-0.36438 1.01362,-0.86268l1.8994,-11.69809l0.16196,-0.9958l0.48729,0.96723l0.02203,0.0442c0.17444,0.34635 0.52941,0.56466 0.91742,0.56466h8.41735c0.56692,0 1.02657,-0.45991 1.02657,-1.02664c-0.00013,-0.56686 -0.45978,-1.02677 -1.02677,-1.02677l0,0l0,0l0,0z"/>
                                        </g>
                                    </svg>
                                    <div class="value">{$scene->atmosphere}%</div>
                                </div>
                            </div>
                            <div class="box">
                                <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="44" cy="44" r="40" fill="none" stroke="white" stroke-width="2" stroke-dasharray="{2.5*$scene->personal},20000" transform="rotate(-90,44,44)"></circle>
                                    <circle cx="44" cy="44" r="40" fill="none" stroke-opacity="0.33" stroke="white" stroke-width="2"></circle>
                                </svg>
                                <div class="inCircle">
                                    <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <title>Personal</title>
                                            <path fill="#eecc51" d="m20.20333,5.27944c1.20818,0.75752 2.05538,2.0394 2.20962,3.52737c0.49273,0.23022 1.03959,0.36262 1.61939,0.36262c2.11668,0 3.83227,-1.71559 3.83227,-3.83194c0,-2.11668 -1.71559,-3.83227 -3.83227,-3.83227c-2.09647,0.00065 -3.79705,1.68559 -3.82901,3.77422zm-2.51061,7.8465c2.11668,0 3.83227,-1.71591 3.83227,-3.83227s-1.71591,-3.83194 -3.83227,-3.83194c-2.11636,0 -3.83292,1.71591 -3.83292,3.83227s1.71657,3.83194 3.83292,3.83194zm1.62559,0.2612h-3.25182c-2.70561,0 -4.90675,2.20147 -4.90675,4.90708v3.97673l0.01011,0.06228l0.27392,0.08576c2.58202,0.80676 4.82523,1.07578 6.67158,1.07578c3.60629,0 5.69656,-1.02818 5.82537,-1.09372l0.25598,-0.12946h0.02739v-3.97738c0.00098,-2.70561 -2.20016,-4.90708 -4.90578,-4.90708zm6.34027,-3.95619h-3.22671c-0.03489,1.29101 -0.58599,2.45354 -1.45764,3.28965c2.40495,0.71513 4.16456,2.94529 4.16456,5.57949v1.22546c3.18595,-0.11674 5.02186,-1.0197 5.14285,-1.08035l0.25598,-0.12979h0.02739v-3.97803c0,-2.70529 -2.20114,-4.90643 -4.90643,-4.90643zm-14.69026,-0.26087c0.74969,0 1.44721,-0.21881 2.03809,-0.59154c0.18783,-1.22514 0.84459,-2.29571 1.78276,-3.02486c0.00391,-0.07174 0.01076,-0.14283 0.01076,-0.21522c0,-2.11668 -1.71591,-3.83227 -3.83162,-3.83227c-2.11701,0 -3.83227,1.71559 -3.83227,3.83227c0,2.1157 1.71526,3.83162 3.83227,3.83162zm3.44161,3.55052c-0.86741,-0.83187 -1.41656,-1.9882 -1.45667,-3.27139c-0.11968,-0.00881 -0.23805,-0.01826 -0.36001,-0.01826h-3.25149c-2.70561,0 -4.90675,2.20114 -4.90675,4.90643v3.97738l0.01011,0.0613l0.27392,0.08642c2.07136,0.64665 3.91999,0.9447 5.52568,1.03861v-1.20101c0.00065,-2.6342 1.75961,-4.86371 4.16521,-5.57949z"/>
                                        </g>
                                    </svg>
                                    <div class="value">{$scene->personal}%</div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <svg width="88" height="88" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="44" cy="44" r="40" fill="none" stroke="white" stroke-width="2" stroke-dasharray="{2.5*$scene->drinks},20000" transform="rotate(-90,44,44)"></circle>
                                <circle cx="44" cy="44" r="40" fill="none" stroke-opacity="0.33" stroke="white" stroke-width="2"></circle>
                            </svg>
                            <div class="inCircle">
                                <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <title>Drinks</title>
                                        <path fill="#eecc51" d="m13.36662,22.75617c0,-0.40659 0,-0.69885 0,-1.10219c1.21846,0 2.37715,0 3.68262,0c0,-2.76035 0,-5.42069 0,-8.35574c-3.02144,-3.51248 -6.24229,-7.25682 -9.50925,-11.05507c6.55796,0 13.19189,0 19.92001,0c-1.5666,1.8829 -3.10264,3.77421 -4.68741,5.62399c-1.57566,1.84066 -3.1994,3.63975 -4.86211,5.52719c0,2.60058 0,5.2687 0,8.16284c1.25092,0 2.49146,0 3.77617,0c0,0.51767 0,0.80993 0,1.19963c-2.80063,-0.00066 -5.5454,-0.00066 -8.32003,-0.00066z" id="svg_52"/>
                                    </g>
                                </svg>
                                <div class="value">{$scene->drinks}%</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="sceneActivities">
                    {foreach $scene->related('activity')->order('datetime','DESC')->limit('3') as $activity}
                        <a href="#" class="cell">
                            {if $activity->user}
                                <img src="../images/users/{$activity->user->picture}_med.png">
                            {else}
                                <img src="../images/scenes/{$scene->picture}_med.jpg">
                            {/if}
                            <div class="box">
                                <p class="content">
                                    {if $activity->user}
                                        <span class="user">{$activity->user->name}</span> 
                                    {else}
                                        <span class="user">{$scene->name}</span> 
                                    {/if}
                                    <span>{$activity->content}</span>
                                </p>
                                <div class="timing">{$activity->datetime|date:'j.n.Y'}</div>
                            </div>
                        </a>
                    {/foreach}
                    <a href="#" class="next">
                        <div class="inlineBlock">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    </div>
</div>

{include '../components/ledge.latte'}

{include '../components/popUps/popUpOtherPlaces.latte', places => $places}