<div class="ledge">
    
    <div class="inner">
        
        {if $user->isLoggedIn()}
        <a href="{link Place:default, $user->getIdentity()->getData()["id_place"]}" class="logo">
        {else}
        <a href="{link Place:default, 1}" class="logo">
        {/if}
            <span>get</span>
            <span class="yellow">hype</span>
            <svg width="18" height="14" xmlns="http://www.w3.org/2000/svg">
                <g fill="#eecc51">
                    <title>gethype</title>
                    <rect height="12" width="3.063" y="2" x="0"/>
                    <rect height="8" width="3.063" y="6" x="4.938"/>
                    <rect height="10.938" width="3.063" y="3.063" x="9.922"/>
                    <rect height="14" width="3.063" y="0" x="14.938"/>
                </g>
            </svg>
        </a>
        
        <div class="search">
            <input id="searchInputDesktop" class="input searchInputDesktop" type="text" spellcheck="false" placeholder="Hledat uživatele, místa, scény nebo akce">
            <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 20.542 20.5" xml:space="preserve">
                <g>
                    <title>Search</title>
                    <g>
                        <circle fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" cx="8.896" cy="8.966" r="7.922"/>
                        <line fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" x1="15.253" y1="15.086" x2="19.848" y2="19.829"/>
                    </g>
                </g>
            </svg>
            <ol id="searchBox" class="submenu searchBox">
                <li class="searchInputMobile" role="menuitem">
                    <input class="input" type="text" placeholder="Hledat uživatele, města, scény nebo akce">
                </li>
                <li>
                    <a href="#">
                        <img src="../images/scenes/e0e3026e7b8ef2ccf5af051facfaaabe_med.jpg">
                        <div class="inlineBlock">
                            <div class="name">Little Island</div>
                            <div class="description">
                                <span>scéna</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/users/3ed93da5ff699c95395d383ac3dfa3a4_med.png">
                        <div class="inlineBlock">
                            <div class="name">Adriana Zlá</div>
                            <div class="description">uživatel</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/users/4ebf0587fda653c3cfb00e5238d69842_med.png">
                        <div class="inlineBlock">
                            <div class="name">Lukáš Komárek</div>
                            <div class="description">uživatel</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/users/95e815ae19d57c4c4e4585f64d9b7fdf_med.png">
                        <div class="inlineBlock">
                            <div class="name">Markéta Pochanová</div>
                            <div class="description">uživatel</div>
                        </div>
                    </a>
                </li>
            </ol>
        </div>
        
        <div class="user">
            {if $user->isLoggedIn()}
            <a href="#" class="control">
                <img src="../images/users/{$user->getIdentity()->getData()["picture"]}_min.png">
                <span>{$presenter->splitName($user->getIdentity()->getData()["name"])}</span>
            </a>
            {/if}
            <a id="searchButton" href="#" class="control searchButton" data-lock="0">
                <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 20.542 20.5" xml:space="preserve">
                    <g>
                        <title>Search</title>
                        <g>
                            <circle fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" cx="8.896" cy="8.966" r="7.922"/>
                            <line fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" x1="15.253" y1="15.086" x2="19.848" y2="19.829"/>
                        </g>
                    </g>
                </svg>
            </a>
            <a id="colorPickerButton" href="#" class="control" data-lock="0">
                <svg version="1.1 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="22px" viewBox="0 0 23 22" enable-background="new 0 0 22.735 20.328" xml:space="preserve">
                    <g>
                        <g>
                            <path fill="white" d="M11.038,0C4.941,0,0,4.551,0,10.163c0,5.614,4.941,10.165,11.038,10.165c1.095-5.955,3.604-6.5,6.032-6.5
                                    c0.541,0,1.079,0.029,1.597,0.029c1.818,0,3.381-0.336,3.969-3.354C23.62,5.472,17.133,0,11.038,0z M20.512,10.092
                                    c-0.313,1.601-0.605,1.601-1.845,1.601c-0.237,0-0.48-0.008-0.726-0.016c-0.288-0.006-0.581-0.014-0.871-0.014
                                    c-2.798,0-6.113,0.771-7.717,6.355c-4.09-0.709-7.189-3.963-7.189-7.856c0-4.411,3.981-7.999,8.874-7.999
                                    c2.906,0,6.161,1.581,8.1,3.935C19.788,6.888,20.831,8.456,20.512,10.092z"/>
                            <path fill="white" d="M7.4,11.5c-1.129,0-2.047,0.919-2.047,2.048s0.917,2.047,2.047,2.047c1.129,0,2.047-0.918,2.047-2.047
                                    S8.53,11.5,7.4,11.5z M7.4,14.515c-0.532,0-0.966-0.436-0.966-0.967s0.434-0.967,0.966-0.967s0.966,0.436,0.966,0.967
                                    S7.934,14.515,7.4,14.515z"/>
                            <circle fill="white" cx="6.107" cy="7.943" r="1.506"/>
                            <circle fill="white" cx="9.591" cy="5.262" r="1.507"/>
                            <circle fill="white" cx="13.98" cy="6.339" r="1.507"/>
                            <circle fill="white" cx="17.377" cy="9.015" r="1.507"/>
                        </g>
                    </g>
                </svg>
            </a>
            {if $user->isLoggedIn()}
            <a id="notificationButton" href="#" class="control" data-lock="0">
                <svg width="21" height="22" xmlns="http://www.w3.org/2000/svg">
                    <g fill="white">
                        <title>Notification</title>	
                        <path fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" d="M5.182,6.898c0-3.05,2.473-5.522,5.522-5.522
                        c3.051,0,5.523,2.472,5.523,5.522"/>
                        <path fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" d="M13.581,17.551
                                c0,1.565-1.271,2.837-2.837,2.837c-1.569,0-2.837-1.271-2.837-2.837"/>
                        <rect x="16.27" y="12.143" transform="matrix(0.8968 -0.4424 0.4424 0.8968 -4.7538 9.151)" width="2" height="5.248"/>
                        <rect x="3.201" y="12.143" transform="matrix(-0.8968 -0.4425 0.4425 -0.8968 1.3794 29.856)" width="2" height="5.248"/>
                        <rect x="2.68" y="15.769" width="16.065" height="1.933"/>
                        <polygon points="1.515,17.701 3.14,14.886 4.765,17.701"/>
                        <polygon points="16.735,17.701 18.36,14.886 19.986,17.701"/>
                        <rect x="4.172" y="6.738" width="2" height="6.11"/>
                        <rect x="15.211" y="6.738" width="2" height="6.11"/>
                    </g>
                </svg>
                <span class="yellow">+3</span>
            </a>
            <a n:href="logout" class="control">
                <svg width="26" height="22" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                    <g fill="white">
                        <title>Logout</title>
                        <polyline fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" points="18.068,19.789 1.449,19.789 1.449,1.336 
			18.068,1.336 		"/>
                        <path id="svg_30" d="M12.551,9.314c0-0.771,0-1.219,0-1.991c2.625,0,5.191,0,7.75,0c0.115-1.1,0.198-1.881,0.287-2.729
                                c0.27,0.029,0.551-0.023,0.723,0.091c1.444,0.951,2.869,1.932,4.582,3.097c-1.842,1.329-3.385,2.442-5.022,3.624
                                c-0.207-0.627-0.396-1.197-0.688-2.09C17.744,9.314,15.178,9.314,12.551,9.314L12.551,9.314z"/>
                        <rect x="16.068" y="2.146" width="2" height="2.823"/>
                        <rect x="16.068" y="11.75" width="2" height="7.297"/>
                    </g>
                </svg>
            </a>
            {else}
            <a href="{link Homepage:default}" class="control">
                <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 21.542 20.458" xml:space="preserve">
                    <g>
                        <title>Login</title>
                        <path fill="white" d="M0,9.126c0-0.771,0-1.219,0-1.992c2.625,0,5.191,0,7.75,0c0.115-1.1,0.198-1.881,0.287-2.729
                                c0.27,0.029,3.593,2.023,5.306,3.188c-1.844,1.33-3.387,2.442-5.023,3.624C8.113,10.59,7.633,9.128,7.633,9.128
                                S2.627,9.126,0,9.126L0,9.126z"/>
                        <polyline fill="none" stroke="white" stroke-width="2" stroke-miterlimit="10" points="3.814,1.047 20.435,1.047 20.435,19.5 
                                3.814,19.5 	"/>
                        <rect x="3.817" y="1.857" fill="white" width="2" height="2.823"/>
                        <rect x="3.817" y="11.46" fill="white" width="2" height="7.297"/>
                    </g>
                </svg>
                <span>Přihlásit se</span>
            </a>
            {/if}
        </div>
        
        <ol id="notificationBox" class="notificationBox submenu">
            <li>
                <a href="#">
                    <img src="../images/users/4ebf0587fda653c3cfb00e5238d69842_med.png">
                    <div class="inlineBlock">
                        <div class="name">Lukáš Komárek</div>
                        <div class="description">
                            <span>vás pozval do skupiny "Jazdeři" na události "Vanoční PEKLO!", která se koná v pátek 12/12/2016 ve frýdecko-místeckém klubu MUZA.</span>
                        </div>
                        <div class="time">Před 5 minutami.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/scenes/a9e3446e7b8ef2ccf5kf051facftttbe_med.jpg">
                    <div class="inlineBlock">
                        <div class="name">Klub Fabric</div>
                        <div class="description">
                            <span>vás pozval na událost "MDMX", která se koná v sobotu 13/12/2015, protože se vám líbí hosteska "Vendula Konečná" a chutná vám "Mojito".</span>
                        </div>
                        <div class="time">Před hodinou.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/scenes/e0e3026e7b8ef2ccf5af051facfaaabe_med.jpg">
                    <div class="inlineBlock">
                        <div class="name">Little Island - irish pub</div>
                        <div class="description">
                            <span>vás pozval na událost "6. narozeniny", která se koná v pátek 7/10/2015, protože zde bude hrát váš oblíbený DJ Friky.</span>
                        </div>
                        <div class="time">Před 2 dny.</div>
                    </div>
                </a>
            </li>
        </ol>
        
        <ol id="colorPickerBox" class="colorPickerBox submenu">
            <li>
                <a n:href="ChangeBgColor! 'pinkyBG'" class="ajax">
                    <div class="square">
                        <div class="pinkyBG"></div>
                    </div>
                    <div class="inlineBlock">
                        <div class="name">Pinky</div>
                    </div>
                </a>
            </li>
            <li>
                <a n:href="ChangeBgColor! 'ashBG'" class="ajax">
                    <div class="square">
                        <div class="ashBG"></div>
                    </div>
                    <div class="inlineBlock">
                        <div class="name">Ash</div>
                    </div>
                </a>
            </li>
            <li>
                <a n:href="ChangeBgColor! 'kashmirBG'" class="ajax">
                    <div class="square">
                        <div class="kashmirBG"></div>
                    </div>
                    <div class="inlineBlock">
                        <div class="name">Kashmir</div>
                    </div>
                </a>
            </li>
            <li>
                <a n:href="ChangeBgColor! 'joomlaBG'" class="ajax">
                    <div class="square">
                        <div class="joomlaBG"></div>
                    </div>
                    <div class="inlineBlock">
                        <div class="name">Joomla</div>
                    </div>
                </a>
            </li>
        </ol>
        
    </div>
    
</div>