<div id="popUpLogIn" class="popUp">
    <div class="blackWrap"></div>
    <div class="paddingSides">
        <div class="control">
            <div class="popUpTitle">Nejste přihlášeni</div>
            <div class="popUpBody">Chcete-li pokračovat, musíte se přihlásit.</div>
            <div class="logInWrap">
                <a href="{link Homepage:default}" class="button logIn">
                    <svg width="23" height="22" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                        <g fill="white">
                            <title>Login</title>
                            <path d="m0.6906,9.41411c0,-0.771 0,-1.219 0,-1.991c2.625,0 5.191,0 7.75,0c0.115,-1.1 0.198,-1.881 0.287,-2.729c0.27,0.029 0.551,-0.023 0.723,0.091c1.444,0.951 2.869,1.932 4.582,3.097c-1.842,1.329 -3.385,2.442 -5.022,3.624c-0.207,-0.627 -0.396,-1.197 -0.688,-2.09c-2.439,-0.002 -5.005,-0.002 -7.632,-0.002l0,0z" fill="white"/>
                            <polyline points="21.124427795410156,19.788999557495117 4.505427360534668,19.788999557495117 4.505427360534668,1.3359999656677246 21.124427795410156,1.3359999656677246 " stroke-miterlimit="10" stroke-width="2" stroke="white" fill="none" transform="rotate(180 12.814927101135254,10.5625) "/>
                            <rect height="2.823" width="2" y="2.146" x="4.50794" fill="white"/>
                            <rect height="7.297" width="2" y="11.75" x="4.50794" fill="white"/>
                        </g>
                    </svg>
                    <span>Přihlásit se</span>
                </a>
            </div>
            <a href="#" class="closeCross">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <g>
                        <title>Close</title>
                        <g>
                            <polygon fill="white" points="27.5,3.9707531929016113 26.050697326660156,2.5246334075927734 15,13.554244995117188 3.949261426925659,2.5246334075927734 2.5,3.9707531929016113 13.550732612609863,15.000450134277344 2.5,26.029293060302734 3.949261426925659,27.475366592407227 15,16.446531295776367 26.050697326660156,27.475366592407227 27.5,26.029293060302734 16.448490142822266,15.000450134277344 "/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>