<div id="popUpOtherPlaces" class="popUp">
    <div class="blackWrap"></div>
    <div class="paddingSides">
        <div class="control">
            <div class="popUpTitle">Vybrat místo</div>
            <div class="popUpBody">
                <ul class="submenu otherPlaces">
                    {foreach $places as $place}
                        <li>
                            <a href="{link Place:default, $place['id']}">
                                <img src="../images/places/{$place['picture']}_med.jpg">
                                <div class="inlineBlock">
                                    <div class="name">{$place['name']}</div>
                                    <div class="description">
                                        <span>
                                            {$place['future_events']} {if $place['future_events'] == 0 OR $place['future_events'] > 4}budoucích akcí{else}budoucí akce{/if} 
                                            | 
                                            {$place['scenes']} {if $place['scenes'] == 0 OR $place['scenes'] > 4} scén{elseif $place['scenes'] == 1} scéna{else} scény{/if}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <a href="#" class="closeCross">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <g>
                        <title>Close</title>
                        <g>
                            <polygon fill="white" points="27.5,3.9707531929016113 26.050697326660156,2.5246334075927734 15,13.554244995117188 3.949261426925659,2.5246334075927734 2.5,3.9707531929016113 13.550732612609863,15.000450134277344 2.5,26.029293060302734 3.949261426925659,27.475366592407227 15,16.446531295776367 26.050697326660156,27.475366592407227 27.5,26.029293060302734 16.448490142822266,15.000450134277344 "/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>