.rotate(@arg) {
    -webkit-transform: rotate(@arg);
    -moz-transform: rotate(@arg);
    -ms-transform: rotate(@arg);
    -o-transform: rotate(@arg);
    transform: rotate(@arg);
}

.placeHolder(@color)
{
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    @color;
        font-family: regular;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    @color;
       opacity:  1;
       font-family: regular;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    @color;
       opacity:  1;
       font-family: regular;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color:    @color;
       font-family: regular;
    }
}

.boxShadow(@dir1, @dir2, @dir3, @dir4, @opacity) {
    -webkit-box-shadow: @dir1 @dir2 @dir3 @dir4 rgba(0, 0, 0, @opacity);
    -moz-box-shadow:    @dir1 @dir2 @dir3 @dir4 rgba(0, 0, 0, @opacity);
    box-shadow:         @dir1 @dir2 @dir3 @dir4 rgba(0, 0, 0, @opacity);
}

.webkitScrollbar
{
    ::-webkit-scrollbar 
    {
        width: 6px;
    }

    ::-webkit-scrollbar-track 
    {
        background-color: rgba(255,255,255,0);
    }

    ::-webkit-scrollbar-thumb 
    {
        background-color: rgba(0,0,0,.2);
    }

    ::-webkit-scrollbar-thumb:hover 
    {
        background-color: rgba(0,0,0,.3);
    }
}

.boxShadow(@dir1, @dir2, @blur, @opacity) {
    -webkit-box-shadow: @dir1 @dir2 @blur 0px rgba(0, 0, 0, @opacity);
    -moz-box-shadow:    @dir1 @dir2 @blur 0px rgba(0, 0, 0, @opacity);
    box-shadow:         @dir1 @dir2 @blur 0px rgba(0, 0, 0, @opacity);
}

.boxSizing(@arg){
    -webkit-box-sizing: @arg;  //Safari/Chrome, other WebKit 
    -moz-box-sizing: @arg;     //Firefox, other Gecko 
    box-sizing: @arg;          //Opera/IE 8+ 
}

.circle(@size, @bg) {
    width: @size;
    height: @size;
    -webkit-border-radius: @size / 2;
    -moz-border-radius: @size / 2;
    border-radius: @size / 2;
    background-color: @bg;
}

.borderRadius(@arg) {
    -webkit-border-radius: @arg;
    -moz-border-radius: @arg;
    border-radius: @arg;
}

.borderTopRadius(@arg) {
    -webkit-border-top-left-radius: @arg;
    -moz-border-top-left-radius: @arg;
    border-top-left-radius: @arg;
    -webkit-border-top-right-radius: @arg;
    -moz-border-top-right-radius: @arg;
    border-top-right-radius: @arg;
}

.borderBottomRadius(@arg) {
    -webkit-border-bottom-left-radius: @arg;
    -moz-border-bottom-left-radius: @arg;
    border-bottom-left-radius: @arg;
    -webkit-border-bottom-right-radius: @arg;
    -moz-border-bottom-right-radius: @arg;
    border-bottom-right-radius: @arg;
}

.borderBottomLeftRadius(@arg)
{
    -webkit-border-bottom-left-radius: @arg;
    -moz-border-bottom-left-radius: @arg;
    border-bottom-left-radius: @arg;
}

.borderBottomRightRadius(@arg)
{
    -webkit-border-bottom-right-radius: @arg;
    -moz-border-bottom-right-radius: @arg;
    border-bottom-right-radius: @arg;
}

.borderTopRightRadius(@arg)
{
    -webkit-border-top-right-radius: @arg;
    -moz-border-top-right-radius: @arg;
    border-top-right-radius: @arg;
}

.borderTopLeftRadius(@arg)
{
    -webkit-border-top-left-radius: @arg;
    -moz-border-top-left-radius: @arg;
    border-top-left-radius: @arg;
}

.arrowM {
    width: 0;
    height: 0;
}

.arrowRight(@size, @color) {
    .arrowM();
    border-right: @size solid transparent;
    border-left: @size solid @color;
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
}

.arrowLeft(@size, @color) {
    .arrowM();
    border-right: @size solid @color;
    border-left: @size solid transparent;
    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
}

.arrowTop(@size, @color) {
    .arrowM();
    border-right: @size solid transparent;
    border-left: @size solid transparent;
    border-top: @size solid transparent;
    border-bottom: @size solid @color;
}

.arrowBottom(@size, @color) {
    .arrowM();
    border-right: @size solid transparent;
    border-left: @size solid transparent;
    border-top: @size solid @color;
    border-bottom: @size solid transparent;
}

.bgImg(@url, @hor, @ver) {
    background-image: (@url);
    background-repeat: no-repeat;
    background-position: @hor @ver;
}

.absoluteCenter(@width) {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: @width;
}

.relativeCenter {
    margin-left: auto;
    margin-right: auto;
}

.inlineBlock(@align) {
    display: inline-block;
    vertical-align: @align;
    .boxSizing(border-box);
}

.placeholder(@color)
{
    ::-webkit-input-placeholder {
        color: @color;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: @color;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: @color;  
    }

    :-ms-input-placeholder {  
       color: @color;  
    }
}