{block title}{$infodata->name}{/block}

{block content}

<div class="header">
    
    <div class="inner">
        <div class="identity">
            <img src="../images/scenes/{$infodata->picture}_max.jpg">
        </div>
        <div class="entity">
            <div class="breadcrumb buttons">
                <a href="{link Place:default, $infodata->place->id}">
                    <span id="placeName">{$infodata->place->name}</span>
                    <div class="arrowRight"></div>
                </a>
            </div>
                    <h1 id="sceneName">
                        {$infodata->name}
                    </h1>
            <div class="introduction">
                <span>Další akce se uskuteční za 3 dny. |</span>
                <span class="yellow">{$infodata->hype} hype</span>
            </div>
            <div class="features buttons">
                <a href="tel:+420775354883">
                    <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
                        <g fill="white">
                            <title>Phone</title>
                            <path d="m12.00584,6.67351c0,0 -0.57663,-0.09013 -0.98009,0.31428c-0.41572,0.41525 -0.43365,1.1311 0.0042,1.56901c0.25859,0.25859 0.62389,0.3138 0.62389,0.3138c0.71111,0.13354 1.78366,0.35957 2.92465,1.50012c1.14014,1.14054 1.36614,2.21214 1.49968,2.92377c0,0 0.05523,0.36478 0.31383,0.6238c0.43785,0.43794 1.15326,0.42001 1.56898,0.00429c0.40346,-0.40346 0.31383,-0.98009 0.31383,-0.98009c-0.22609,-1.44067 -0.92399,-2.94598 -2.12348,-4.14503c-1.19957,-1.19953 -2.70483,-1.89792 -4.1455,-2.12395l0,0l0,0l0,-0.00001zm5.4082,0.86024c2.09141,2.09139 2.98238,4.4645 2.69213,6.38737c0,0 -0.10147,0.60879 0.29685,1.00702c0.44729,0.44737 1.15703,0.4219 1.57602,0.00283c0.26897,-0.26897 0.32798,-0.70734 0.32798,-0.70734c0.23973,-1.66153 -0.06184,-5.00479 -3.31971,-8.26267s-6.60117,-3.55988 -8.2627,-3.32017c0,0 -0.43786,0.05851 -0.70778,0.32796c-0.41904,0.41904 -0.44452,1.12874 0.0033,1.57609c0.39776,0.3978 1.00656,0.29634 1.00656,0.29634c1.92287,-0.28974 4.29646,0.60165 6.38735,2.69256l0,0l0,0z"/>
                            <path d="m17.34705,18.14828c-2.27444,-1.82809 -2.91059,-0.92957 -3.94257,0.10241c-0.72055,0.72055 -2.54392,-0.78428 -4.11859,-2.35849c-1.57467,-1.57516 -3.0795,-3.39802 -2.35895,-4.119c1.03248,-1.03207 1.93048,-1.66862 0.10193,-3.94263c-1.82808,-2.27495 -3.04647,-0.52851 -4.04639,0.47141c-1.15423,1.15375 -0.06087,5.45404 4.18891,9.70427c4.25027,4.25023 8.55007,5.34267 9.70384,4.18941c0.99939,-0.99999 2.74634,-2.21834 0.47182,-4.04738l0,0l0,0l0,0z"/>
                        </g>
                    </svg>
                    <span>{$infodata->phone}</span>
                </a>
            </div>
        </div>
    </div>
</div>
                    
<div id="navigation" class="navigation">
    <div class="inner">
        <ul>
            <li>
                <a href="" id="pastSceneEventsButton" class="active">
                    <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Past events</title>
                            <rect x="6.128" y="13.356" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="62.593" height="54.381"/>
                            <rect x="13.129" y="26.955" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="48.539" height=".5"/>
                            <rect x="22.434" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.492" height="9.129"/>
                            <rect x="51.002" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.493" height="9.129"/>
                        </g>
                    </svg>
                    <div class="link">Minulé <br class="divider"> akce</div>
                    <span class="number">{$infodata->past_events}</span>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" id="futureSceneEventsButton">
                    <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Future events</title>
                            <rect x="6.128" y="13.356" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="62.593" height="54.381"/>
                            <rect x="13.129" y="26.955" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="48.539" height=".5"/>
                            <rect x="22.434" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.492" height="9.129"/>
                            <rect x="51.002" y="7.69" fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" width="1.493" height="9.129"/>
                        </g>
                    </svg>
                    <div class="link">Budoucí <br class="divider"> akce</div>
                    <span class="number">{$infodata->future_events}</span>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" id="sceneDescribeButton">
                    <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Describe</title>
                            <g fill="white">
                                <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="32.129,60.205 32.129,30.917 43.202,30.917 43.202,60.205"/>
                                <circle fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" cx="38.052" cy="14.488" r="8.49"/>
                                <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="51.972,57.217 51.972,67.865 25.534,67.865 25.534,57.217"/>
                                <line fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" x1="26.727" y1="58.709" x2="31.012" y2="58.709"/>
                                <line fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" x1="44.24" y1="58.719" x2="50.805" y2="58.719"/>
                            </g>
                        </g>
                    </svg>
                    <div class="link">Popis <br class="divider"> scény</div>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
                    
<div class="sceneEvents">
    <div class="inner">
        <div id="gridScenePastEvents" class="grid">
            
            {foreach $pastEvents as $event}
            <div class="grid-item past">
                <div class="card">
                    <div class="identity">
                        <img src="../images/scenes/{$event->scene->picture}_med.jpg">
                        <div class="wrap">
                            <div class="name marginTop15px">{$event->scene->name}</div>
                        </div>
                    </div>
                    <div class="partyHead">
                        <a href="{link Event:default, $event->id}" class="link">
                            <h2>
                                <span>{$event->name} |</span>
                                <div class="inlineBlock">
                                    <span class="yellow">{$event->rating}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                                        <g>
                                            <title>Rating</title>
                                            <g>
                                                <path fill="#eecc51" d="m 21.7243 9.39863 l -5.5646 -0.52619 c -0.3508 -0.03189 -0.6541 -0.25513 -0.7974 -0.58997 l -1.9932 -4.83146 c -0.3189 -0.79727 -1.4511 -0.79727 -1.7701 0 l -1.97708 4.83146 c -0.1277 0.33485 -0.44657 0.55808 -0.79737 0.58997 l -5.56501 0.52619 c -0.8291 0.07972 -1.16393 1.11617 -0.54215 1.67427 l 4.19377 3.6834 c 0.27098 0.2392 0.38273 0.59 0.3029 0.9408 l -1.2597 5.1662 c -0.19136 0.8133 0.68563 1.483 1.41914 1.0525 l 4.6401 -2.7268 c 0.303 -0.1754 0.6697 -0.1754 0.9726 0 l 4.6404 2.7268 c 0.7335 0.4305 1.6105 -0.2232 1.4189 -1.0525 l -1.2437 -5.1662 c -0.0797 -0.3508 0.0319 -0.7016 0.3031 -0.9408 l 4.1935 -3.6834 c 0.606 -0.5581 0.2552 -1.59453 -0.5741 -1.67427 l 0 0 l 0 0 l 0 0 l 0 0 l 0 0 Z" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </h2>
                            <div class="dateAndHype">
                                <time datetime="{$event->datetime}">{$event->datetime|date:'j.n.Y'} |</time>
                                <span class="yellow">{$event->hype} hype</span>
                            </div>
                        </a>
                    </div>
                    <div class="flyer">
                        <a href="{link Event:default, $event->id}" class="link">
                            <img data-parallax='{"y": 20}' src="../images/events/{$event->picture}.jpg">
                        </a>
                    </div>
                    <p class="entities">
                        {foreach $event->related('entity') as $entity}
                            {$entity->title}
                            {if $entity->name} - {/if}
                            {$entity->name}
                            {foreach $entity->related('user_entity_mapping') as $map}
                                {if $iterator->counter == 1}
                                    -
                                {else}
                                    &
                                {/if}
                                {$map->user->name}
                            {/foreach}
                            {if !$iterator->last}
                            |
                            {/if}
                        {/foreach} 
                    </p>
                </div>
            </div>
            {/foreach}
            
        </div>
        <div id="gridSceneFutureEvents" class="grid gridSceneFutureEvents">
            
            {foreach $futureEvents as $event}
            <div class="grid-item future">
                <div class="card">
                    <div class="identity">
                        <img src="../images/scenes/{$event->scene->picture}_med.jpg">
                        <div class="wrap">
                            <div class="name marginTop15px">{$event->scene->name}</div>
                        </div>
                    </div>
                    <div class="partyHead">
                        <a href="{link Event:default, $event->id}" class="link">
                            <h2>
                                <span>{$event->name}</span>
                            </h2>
                            <div class="dateAndHype">
                                <time datetime="{$event->datetime}">{$event->datetime|date:'j.n.Y'} |</time>
                                <span class="yellow">{$event->hype} hype</span>
                            </div>
                        </a>
                    </div>
                    <div class="flyer">
                        <a href="{link Event:default, $event->id}" class="link">
                            <img data-parallax='{"y": 20}' src="../images/events/{$event->picture}.jpg">
                        </a>
                    </div>
                    <p class="entities">
                        {foreach $event->related('entity') as $entity}
                            {$entity->title}
                            {if $entity->name} - {/if}
                            {$entity->name}
                            {foreach $entity->related('user_entity_mapping') as $map}
                                {if $iterator->counter == 1}
                                    -
                                {else}
                                    &
                                {/if}
                                {$map->user->name}
                            {/foreach}
                            {if !$iterator->last}
                            |
                            {/if}
                        {/foreach} 
                    </p>
                    <div class="divider"></div>
                    <p class="description">
                        {$event->description}
                    </p>
                </div>
            </div>
            {/foreach}
            
        </div>
    </div>
</div>
                    
<div id="sceneDescribe" class="sceneDescribe">
    <div id="sceneGalleryOwlCarousel" class="sceneGalleryOwlCarousel">
        {foreach $infodata->related('gallery') as $picture}
        <div class="item">
            <a class="link" href="../images/galleries/{$picture->picture}@2x.jpg" data-lightbox="sceneFoto">
                <img src="../images/galleries/{$picture->picture}.jpg" alt="scene image">
            </a>
        </div>
        {/foreach}
    </div>
    <div class="inner">
        <ul class="priceList">
            {foreach $offers as $offer}
                <li>
                    <div class="itemWrap">
                        <div class="picture">
                            <img src="../images/offers/{$offer->picture}.jpg">
                        </div>
                        <div class="priceItem">
                            <div class="darkWrap">
                                <h2>
                                    <span class="nameOffer">{$offer->name}</span>
                                    <span>| {$offer->price} Kč</span>
                                </h2>
                                <div class="description">
                                    <div>{$offer->description|noescape}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {/foreach}
        </ul>
        {snippet reviews} 
        <ul class="overviewRating">
            <li>
                <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                    <circle id="waypoint2" cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-dasharray="{4.4*$infodata->atmosphere},4000" transform="rotate(-90,75,75)"></circle>
                    <circle cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-opacity="0.33"></circle>
                </svg>
                <svg class="icon" width="60" height="50" xmlns="http://www.w3.org/2000/svg">
                    <title>Atmosphere</title>
                    <g>
                        <path fill="#eecc51" d="m51.4015,20.99496h-11.66063l-2.46971,-4.89664c-0.30104,-0.59513 -0.94534,-0.9288 -1.60761,-0.82744c-0.65851,0.10166 -1.17664,0.61602 -1.28394,1.2735l-1.10384,6.79777l-1.04511,6.43523l-0.81323,-6.35229l-1.79918,-14.04884c-0.09237,-0.71753 -0.67127,-1.27308 -1.39096,-1.33629c-0.72129,-0.05627 -1.3869,0.3837 -1.60239,1.07338l-4.5943,14.73069l-1.38023,4.42551l-0.70288,-4.3324l-1.03844,-6.40247c-0.10934,-0.67126 -0.64618,-1.19127 -1.32049,-1.27872c-0.67358,-0.08222 -1.32643,0.27754 -1.60239,0.89965l-2.56136,5.75223h-4.82646c-0.84891,0 -1.53786,0.68896 -1.53786,1.53787c0,0.8489 0.68896,1.53757 1.53786,1.53757h5.82546c0.60746,0 1.15793,-0.35746 1.40459,-0.91243l0.43141,-0.96782l0.43925,-0.98593l0.15502,0.95897l1.80396,11.12364c0.11369,0.70433 0.69751,1.23667 1.40938,1.28786c0.71186,0.0435 1.36399,-0.39502 1.57701,-1.07528l3.65302,-11.71399l2.16562,-6.94161l0.87109,6.80647l2.19071,17.11064c0.09687,0.75698 0.7355,1.32906 1.49914,1.34254c0.00842,0 0.01726,0 0.02639,0c0.75233,0 1.39663,-0.54583 1.51828,-1.29222l2.84515,-17.52248l0.2426,-1.49159l0.72985,1.44881l0.03306,0.06612c0.26131,0.51886 0.79294,0.84587 1.37415,0.84587h12.60828c0.84919,0 1.53772,-0.68896 1.53772,-1.53787c-0.00015,-0.84905 -0.68867,-1.53801 -1.53801,-1.53801l0,0l0,0z"/>
                    </g>
                </svg>
                    <div class="value"><span id="waypoint">{$infodata->atmosphere}</span>%</div>
                <div class="index yellow">ATMOSFÉRA</div>
            </li>
            <li>
                <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-dasharray="{4.4*$infodata->personal}" transform="rotate(-90,75,75)"></circle>
                    <circle cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-opacity="0.33"></circle>
                </svg>
                <svg class="icon" width="60" height="50" xmlns="http://www.w3.org/2000/svg">
                    <title>Personal</title>
                    <g>
                        <path fill="#eecc51" d="m33.85423,14.70521c1.72259,1.08007 2.93047,2.90768 3.15047,5.02914c0.70251,0.32828 1.48212,0.51702 2.30875,0.51702c3.01789,0 5.46391,-2.44603 5.46391,-5.46339c0,-3.01787 -2.44602,-5.46388 -5.46391,-5.46388c-2.98895,0.00093 -5.41358,2.40324 -5.45921,5.38112zm-3.57947,11.18716c3.01788,0 5.46392,-2.44649 5.46392,-5.46384s-2.44649,-5.46338 -5.46392,-5.46338c-3.01735,0 -5.46483,2.44642 -5.46483,5.46384s2.44748,5.46338 5.46483,5.46338l0,0.00001zm2.31769,0.37239l-4.63629,0c-3.85748,0 -6.9959,3.13881 -6.9959,6.99637l0,5.66994l0.01457,0.08868l0.39053,0.12232c3.68127,1.15014 6.87954,1.53384 9.51206,1.53384c5.14153,0 8.12179,-1.46597 8.30544,-1.55941l0.36503,-0.18457l0.03901,0l0,-5.6708c0.00146,-3.85756 -3.13696,-6.99637 -6.99444,-6.99637l0,0zm9.03975,-5.64047l-4.60053,0c-0.04974,1.84067 -0.8355,3.49815 -2.07828,4.6902c3.42895,1.01954 5.93768,4.19927 5.93768,7.95504l0,1.74722c4.54233,-0.16649 7.16001,-1.45397 7.33239,-1.5404l0.36497,-0.18503l0.03907,0l0,-5.67167c0,-3.85708 -3.13821,-6.99537 -6.9953,-6.99537l0,0.00001zm-20.94479,-0.37199c1.06887,0 2.06331,-0.31192 2.90583,-0.84338c0.26774,-1.74675 1.20418,-3.27312 2.54179,-4.31272c0.00556,-0.10225 0.0153,-0.20363 0.0153,-0.30684c0,-3.01787 -2.44649,-5.46388 -5.46292,-5.46388c-3.01835,0 -5.46389,2.44602 -5.46389,5.46388c0,3.01644 2.44555,5.46293 5.46389,5.46293l0,0l0.00001,0.00001zm4.90683,5.06219c-1.23669,-1.1861 -2.01954,-2.83471 -2.07676,-4.66418c-0.17066,-0.01258 -0.33947,-0.02602 -0.51324,-0.02602l-4.6359,0c-3.85754,0 -6.99583,3.13828 -6.99583,6.99537l0,5.6708l0.01442,0.08742l0.39054,0.12318c2.95326,0.92192 5.58895,1.34689 7.87823,1.48079l0,-1.71232c0.00099,-3.75577 2.50881,-6.93445 5.93855,-7.95504l0,0l0,0l-0.00001,-0.00001z"/>
                    </g>
                </svg>
                <div class="value">{$infodata->personal}%</div>
                <div class="index yellow">PERSONÁL</div>
            </li>
            <li>
                <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-dasharray="{4.4*$infodata->drinks}" transform="rotate(-90,75,75)"></circle>
                    <circle cx="75" cy="75" r="70" fill="none" stroke="white" stroke-width="3" stroke-opacity="0.33"></circle>
                </svg>
                <svg class="icon" width="60" height="50" xmlns="http://www.w3.org/2000/svg">
                    <title>Drinks</title>
                    <g>
                        <path fill="#eecc51" d="m23.63601,40.791c0,-0.62601 0,-1.07599 0,-1.69699c1.87601,0 3.66,0 5.66998,0c0,-4.25 0,-8.34601 0,-12.86499c-4.65199,-5.40802 -9.61099,-11.17303 -14.641,-17.02103c10.09702,0 20.311,0 30.67001,0c-2.41202,2.89902 -4.77701,5.811 -7.21701,8.65903c-2.42598,2.83398 -4.92598,5.60397 -7.48598,8.50998c0,4.004 0,8.112 0,12.56799c1.92598,0 3.836,0 5.814,0c0,0.79703 0,1.24701 0,1.84702c-4.31201,-0.00101 -8.53802,-0.00101 -12.81,-0.00101z" clip-rule="evenodd" fill-rule="evenodd"/>
                    </g>
                </svg>
                <div class="value">{$infodata->drinks}%</div>
                <div class="index yellow">NÁPOJE</div>
            </li>
        </ul>      
        <div class="reviews">
            <div id="gridSceneReviews" class="grid">
                <div class="grid-item">
                    {snippet addReview}
                    <div class="addCard">
                        {if $user->isLoggedIn()}
                        <div id="addReviewForm" class="form">
                            <form n:name=addReviewForm class="ajax">
                                <textarea n:name=comment class="input" spellcheck="false" placeholder="Sem napište co si myslíte o scéně Little Island."></textarea>
                                <div class="photo">
                                    <div class="image-editor">
                                        <div class="image-upload">
                                            <label class="button" for="file-input" tabindex="0">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    width="20px" height="20px" viewBox="0 0 97.395 97.395" style="enable-background:new 0 0 97.395 97.395;" xml:space="preserve">
                                                    <g>
                                                        <path d="M12.501,0h72.393c6.875,0,12.5,5.09,12.5,12.5v72.395c0,7.41-5.625,12.5-12.5,12.5H12.501C5.624,97.395,0,92.305,0,84.895
                                                                V12.5C0,5.09,5.624,0,12.501,0L12.501,0z M70.948,10.821c-2.412,0-4.383,1.972-4.383,4.385v10.495c0,2.412,1.971,4.385,4.383,4.385
                                                                h11.008c2.412,0,4.385-1.973,4.385-4.385V15.206c0-2.413-1.973-4.385-4.385-4.385H70.948L70.948,10.821z M86.387,41.188h-8.572
                                                                c0.811,2.648,1.25,5.453,1.25,8.355c0,16.2-13.556,29.332-30.275,29.332c-16.718,0-30.272-13.132-30.272-29.332
                                                                c0-2.904,0.438-5.708,1.25-8.355h-8.945v41.141c0,2.129,1.742,3.872,3.872,3.872h67.822c2.13,0,3.872-1.742,3.872-3.872V41.188
                                                                H86.387z M48.789,29.533c-10.802,0-19.56,8.485-19.56,18.953c0,10.468,8.758,18.953,19.56,18.953
                                                                c10.803,0,19.562-8.485,19.562-18.953C68.351,38.018,59.593,29.533,48.789,29.533z"/>
                                                    </g>
                                                </svg>
                                                <span>Vybrat fotku</span>
                                            </label>
                                            <input id="file-input" class="cropit-image-input" accept="image/*" type="file">
                                        </div>
                                        <div class="cropit-image-preview-wrap">
                                            <div class="cropit-image-preview"></div>
                                        </div>
                                        <div class="inputRange">
                                            <input id="rangeSlider" type="range" class="slider cropit-image-zoom-input">
                                        </div>
                                    </div>
                                    <input id="imageBase64" n:name=imageBase64 type="hidden" value="">
                                </div>
                                <div class="rating">
                                    <div class="index">
                                        <a id="atmosphereIcon" class="iconWrap" tabindex="0">
                                            <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                                <title>Atmosphere</title>
                                                <g>
                                                    <path fill="#eecc51" d="m31.78773,9.82625h-7.78466l-1.64878,-3.26906c-0.20101,-0.39729 -0.63115,-0.62007 -1.07324,-0.55238c-0.43968,0.06783 -0.78557,0.41124 -0.8572,0.85019l-0.7369,4.53817l-0.69771,4.29623l-0.54296,-4.24082l-1.20115,-9.37907c-0.06162,-0.47903 -0.4481,-0.84991 -0.92857,-0.89211c-0.48154,-0.03757 -0.9259,0.25616 -1.06977,0.71659l-3.06717,9.83425l-0.92143,2.95448l-0.46926,-2.89233l-0.69331,-4.27427c-0.07297,-0.44816 -0.43134,-0.79532 -0.88151,-0.85367c-0.4497,-0.05494 -0.88558,0.18526 -1.06977,0.60058l-1.71,3.84019h-3.22216c-0.56674,0 -1.02668,0.45998 -1.02668,1.02671c0,0.56673 0.45995,1.02651 1.02668,1.02651h3.88909c0.40557,0 0.77302,-0.23867 0.93772,-0.60919l0.288,-0.64611l0.29328,-0.65819l0.10348,0.64023l1.20429,7.42616c0.0759,0.47019 0.46572,0.82562 0.94092,0.8598c0.47527,0.02904 0.91061,-0.26377 1.05281,-0.71787l2.43876,-7.82032l1.44583,-4.63424l0.58155,4.54405l1.46252,11.42311c0.06462,0.50538 0.49102,0.88725 1.0008,0.89626c0.00561,0 0.01155,0 0.01763,0c0.50224,0 0.93237,-0.36438 1.01362,-0.86268l1.8994,-11.69809l0.16196,-0.9958l0.48729,0.96723l0.02203,0.0442c0.17444,0.34635 0.52941,0.56466 0.91742,0.56466h8.41735c0.56692,0 1.02657,-0.45991 1.02657,-1.02664c-0.00013,-0.56686 -0.45978,-1.02677 -1.02677,-1.02677l0,0l0,0l0,0z"></path>
                                                </g>
                                            </svg>
                                            <div class="radioCheck">
                                                <input n:name=atmosphereCheckbox id="atmosphereCheckbox" class="check" type="checkbox" data-check="false">
                                                <label for="atmosphereCheckbox"></label>
                                            </div>
                                        </a>
                                        <input n:name=atmosphere class="input" type="number" min="0" max="100" step="5" value="50">
                                        <div class="inputRange">
                                            <input type="range" class="slider" min="0" max="100" step="5">
                                        </div>
                                    </div>
                                    <div class="index">
                                        <a id="personalIcon" class="iconWrap" tabindex="0">
                                            <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <title>Personal</title>
                                                    <path fill="#eecc51" d="m20.20333,5.27944c1.20818,0.75752 2.05538,2.0394 2.20962,3.52737c0.49273,0.23022 1.03959,0.36262 1.61939,0.36262c2.11668,0 3.83227,-1.71559 3.83227,-3.83194c0,-2.11668 -1.71559,-3.83227 -3.83227,-3.83227c-2.09647,0.00065 -3.79705,1.68559 -3.82901,3.77422zm-2.51061,7.8465c2.11668,0 3.83227,-1.71591 3.83227,-3.83227s-1.71591,-3.83194 -3.83227,-3.83194c-2.11636,0 -3.83292,1.71591 -3.83292,3.83227s1.71657,3.83194 3.83292,3.83194zm1.62559,0.2612h-3.25182c-2.70561,0 -4.90675,2.20147 -4.90675,4.90708v3.97673l0.01011,0.06228l0.27392,0.08576c2.58202,0.80676 4.82523,1.07578 6.67158,1.07578c3.60629,0 5.69656,-1.02818 5.82537,-1.09372l0.25598,-0.12946h0.02739v-3.97738c0.00098,-2.70561 -2.20016,-4.90708 -4.90578,-4.90708zm6.34027,-3.95619h-3.22671c-0.03489,1.29101 -0.58599,2.45354 -1.45764,3.28965c2.40495,0.71513 4.16456,2.94529 4.16456,5.57949v1.22546c3.18595,-0.11674 5.02186,-1.0197 5.14285,-1.08035l0.25598,-0.12979h0.02739v-3.97803c0,-2.70529 -2.20114,-4.90643 -4.90643,-4.90643zm-14.69026,-0.26087c0.74969,0 1.44721,-0.21881 2.03809,-0.59154c0.18783,-1.22514 0.84459,-2.29571 1.78276,-3.02486c0.00391,-0.07174 0.01076,-0.14283 0.01076,-0.21522c0,-2.11668 -1.71591,-3.83227 -3.83162,-3.83227c-2.11701,0 -3.83227,1.71559 -3.83227,3.83227c0,2.1157 1.71526,3.83162 3.83227,3.83162zm3.44161,3.55052c-0.86741,-0.83187 -1.41656,-1.9882 -1.45667,-3.27139c-0.11968,-0.00881 -0.23805,-0.01826 -0.36001,-0.01826h-3.25149c-2.70561,0 -4.90675,2.20114 -4.90675,4.90643v3.97738l0.01011,0.0613l0.27392,0.08642c2.07136,0.64665 3.91999,0.9447 5.52568,1.03861v-1.20101c0.00065,-2.6342 1.75961,-4.86371 4.16521,-5.57949z"></path>
                                                </g>
                                            </svg>
                                            <div class="radioCheck">
                                                <input n:name=personalCheckbox id="personalCheckbox" class="check" type="checkbox" data-check="false">
                                                <label for="personalCheckbox"></label>
                                            </div>
                                        </a>
                                        <input n:name=personal class="input" type="number" min="0" max="100" step="5" value="50">
                                        <div class="inputRange">
                                            <input type="range" class="slider" min="0" max="100" step="5">
                                        </div>
                                    </div>
                                    <div class="index">
                                        <a id="drinksIcon" class="iconWrap" tabindex="0">
                                            <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <title>Drinks</title>
                                                    <path fill="#eecc51" d="m13.36662,22.75617c0,-0.40659 0,-0.69885 0,-1.10219c1.21846,0 2.37715,0 3.68262,0c0,-2.76035 0,-5.42069 0,-8.35574c-3.02144,-3.51248 -6.24229,-7.25682 -9.50925,-11.05507c6.55796,0 13.19189,0 19.92001,0c-1.5666,1.8829 -3.10264,3.77421 -4.68741,5.62399c-1.57566,1.84066 -3.1994,3.63975 -4.86211,5.52719c0,2.60058 0,5.2687 0,8.16284c1.25092,0 2.49146,0 3.77617,0c0,0.51767 0,0.80993 0,1.19963c-2.80063,-0.00066 -5.5454,-0.00066 -8.32003,-0.00066z" id="svg_52"></path>
                                                </g>
                                            </svg>
                                            <div class="radioCheck">
                                                <input n:name=drinksCheckbox id="drinksCheckbox" class="check" type="checkbox" data-check="false">
                                                <label for="drinksCheckbox"></label>
                                            </div>
                                        </a>
                                        <input n:name=drinks class="input" type="number" min="0" max="100" step="5" value="50">
                                        <div class="inputRange">
                                             <input type="range" class="slider" min="0" max="100" step="5">
                                        </div>
                                    </div>
                                </div>
                                <div n:if="$form->hasErrors()">
                                    <div class="error">
                                        <div n:foreach="$form->errors as $error" class="table">
                                            <div class="icon">
                                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                                    <title>Warning Icon</title>
                                                    <g>
                                                        <title>Error</title>
                                                        <g>
                                                            <g>
                                                                <path d="m18.82856,13.02526l-5.69135,-9.48605c-0.74694,-1.24472 -1.88972,-1.95721 -3.1372,-1.95721s-2.39027,0.71249 -3.13721,1.95527l-5.69136,9.488c-0.75666,1.25999 -0.83944,2.60388 -0.22638,3.68693c0.61222,1.08388 1.80804,1.70582 3.27887,1.70582h11.55188c1.4711,0 2.66665,-0.62194 3.27887,-1.70472c0.61333,-1.08304 0.53055,-2.42693 -0.22611,-3.68803l0,0l0,0zm-8.82856,2.07055c-0.82222,0 -1.49222,-0.66889 -1.49222,-1.4911c0,-0.82305 0.66916,-1.49305 1.49222,-1.49305s1.49221,0.66999 1.49221,1.49305c0,0.82222 -0.66999,1.4911 -1.49221,1.4911zm1.57193,-7.14691c-0.01055,0.03 -1.3486,3.33859 -1.3486,3.33859c-0.03667,0.09055 -0.12528,0.15028 -0.2225,0.15028s-0.18583,-0.05973 -0.22222,-0.15028l-1.33916,-3.30943c-0.08667,-0.22445 -0.12417,-0.42667 -0.12417,-0.63083c0,-0.92888 0.75583,-1.68443 1.68471,-1.68443s1.68471,0.75555 1.68471,1.68443c0,0.20416 -0.03778,0.40638 -0.11278,0.60166l0,0z" fill="rgb(210, 26, 26)"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="message">{$error}</div>
                                        </div>
                                    </div>
                                    <script>
                                        $("#addReviewForm").css("display", "block");
                                        $("#addReviewLogged").css("display", "none");
                                        $("#addReviewLogged").css("height", $("#addReviewForm").height());
                                    </script>
                                    <script src="../js/ajax/addReviewForm.js"></script>
                                </div>
                                <div class="addCardButton">
                                    <div class="wrap">
                                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                                            <g fill="white">
                                               <title>Add</title>
                                               <rect x="0" y="8.75" width="20" height="2.5"/>
                                               <rect x="8.75" y="0" width="2.5" height="20"/>
                                            </g>
                                        </svg>
                                        <span>Přidat recenzi</span>
                                    </div>
                                    <input n:name=addReview id="addReviewButton" class="button" type="submit" value="">
                                </div>
                            </form>
                        </div>
                        {/if}
                        <a id="{if $user->isLoggedIn()}addReviewLogged{else}addReviewNotLogged{/if}" class="link" tabindex="0">
                            <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" width="140" height="140">
                                <g>
                                    <title>Add review</title>
                                    <g>
                                       <rect height="130" width="2" fill="white" y="5" x="69.25"/>
                                       <rect height="2" width="130" fill="white" y="69.25" x="5"/>
                                    </g>
                                </g>
                            </svg>
                            <div class="label">PŘIDAT RECENZI</div>
                        </a>
                    </div>
                    {/snippet}
                </div>
                {foreach $reviews as $review}
                <div class="grid-item">
                    <div class="card">
                        <div class="identity">
                            <a href="#" tabindex="0" class="link">
                                <img src="../images/users/{$review->user["picture"]}_med.png" width="50" height="50">
                                <div class="wrap">
                                    <div class="name marginTop6px">{$review->user["name"]}</div>
                                    <div class="time">{$review->datetime|date:'j.n.Y'}</div>
                                </div>
                            </a>
                        </div>
                        <div class="divider"></div>
                        <div class="reviewRating" n:if="$review->atmosphere OR $review->personal OR $review->drinks">
                            <div class="index" n:if="$review->atmosphere">
                                <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <title>Atmosphere</title>
                                    <g>
                                        <path fill="#eecc51" d="m31.78773,9.82625h-7.78466l-1.64878,-3.26906c-0.20101,-0.39729 -0.63115,-0.62007 -1.07324,-0.55238c-0.43968,0.06783 -0.78557,0.41124 -0.8572,0.85019l-0.7369,4.53817l-0.69771,4.29623l-0.54296,-4.24082l-1.20115,-9.37907c-0.06162,-0.47903 -0.4481,-0.84991 -0.92857,-0.89211c-0.48154,-0.03757 -0.9259,0.25616 -1.06977,0.71659l-3.06717,9.83425l-0.92143,2.95448l-0.46926,-2.89233l-0.69331,-4.27427c-0.07297,-0.44816 -0.43134,-0.79532 -0.88151,-0.85367c-0.4497,-0.05494 -0.88558,0.18526 -1.06977,0.60058l-1.71,3.84019h-3.22216c-0.56674,0 -1.02668,0.45998 -1.02668,1.02671c0,0.56673 0.45995,1.02651 1.02668,1.02651h3.88909c0.40557,0 0.77302,-0.23867 0.93772,-0.60919l0.288,-0.64611l0.29328,-0.65819l0.10348,0.64023l1.20429,7.42616c0.0759,0.47019 0.46572,0.82562 0.94092,0.8598c0.47527,0.02904 0.91061,-0.26377 1.05281,-0.71787l2.43876,-7.82032l1.44583,-4.63424l0.58155,4.54405l1.46252,11.42311c0.06462,0.50538 0.49102,0.88725 1.0008,0.89626c0.00561,0 0.01155,0 0.01763,0c0.50224,0 0.93237,-0.36438 1.01362,-0.86268l1.8994,-11.69809l0.16196,-0.9958l0.48729,0.96723l0.02203,0.0442c0.17444,0.34635 0.52941,0.56466 0.91742,0.56466h8.41735c0.56692,0 1.02657,-0.45991 1.02657,-1.02664c-0.00013,-0.56686 -0.45978,-1.02677 -1.02677,-1.02677l0,0l0,0l0,0z"></path>
                                    </g>
                                </svg>
                                <div class="value">{$review->atmosphere} %</div>
                            </div>
                            <div class="index" n:if="$review->personal">
                                <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <title>Personal</title>
                                        <path fill="#eecc51" d="m20.20333,5.27944c1.20818,0.75752 2.05538,2.0394 2.20962,3.52737c0.49273,0.23022 1.03959,0.36262 1.61939,0.36262c2.11668,0 3.83227,-1.71559 3.83227,-3.83194c0,-2.11668 -1.71559,-3.83227 -3.83227,-3.83227c-2.09647,0.00065 -3.79705,1.68559 -3.82901,3.77422zm-2.51061,7.8465c2.11668,0 3.83227,-1.71591 3.83227,-3.83227s-1.71591,-3.83194 -3.83227,-3.83194c-2.11636,0 -3.83292,1.71591 -3.83292,3.83227s1.71657,3.83194 3.83292,3.83194zm1.62559,0.2612h-3.25182c-2.70561,0 -4.90675,2.20147 -4.90675,4.90708v3.97673l0.01011,0.06228l0.27392,0.08576c2.58202,0.80676 4.82523,1.07578 6.67158,1.07578c3.60629,0 5.69656,-1.02818 5.82537,-1.09372l0.25598,-0.12946h0.02739v-3.97738c0.00098,-2.70561 -2.20016,-4.90708 -4.90578,-4.90708zm6.34027,-3.95619h-3.22671c-0.03489,1.29101 -0.58599,2.45354 -1.45764,3.28965c2.40495,0.71513 4.16456,2.94529 4.16456,5.57949v1.22546c3.18595,-0.11674 5.02186,-1.0197 5.14285,-1.08035l0.25598,-0.12979h0.02739v-3.97803c0,-2.70529 -2.20114,-4.90643 -4.90643,-4.90643zm-14.69026,-0.26087c0.74969,0 1.44721,-0.21881 2.03809,-0.59154c0.18783,-1.22514 0.84459,-2.29571 1.78276,-3.02486c0.00391,-0.07174 0.01076,-0.14283 0.01076,-0.21522c0,-2.11668 -1.71591,-3.83227 -3.83162,-3.83227c-2.11701,0 -3.83227,1.71559 -3.83227,3.83227c0,2.1157 1.71526,3.83162 3.83227,3.83162zm3.44161,3.55052c-0.86741,-0.83187 -1.41656,-1.9882 -1.45667,-3.27139c-0.11968,-0.00881 -0.23805,-0.01826 -0.36001,-0.01826h-3.25149c-2.70561,0 -4.90675,2.20114 -4.90675,4.90643v3.97738l0.01011,0.0613l0.27392,0.08642c2.07136,0.64665 3.91999,0.9447 5.52568,1.03861v-1.20101c0.00065,-2.6342 1.75961,-4.86371 4.16521,-5.57949z"></path>
                                    </g>
                                </svg>
                                <div class="value">{$review->personal} %</div>
                            </div>
                            <div class="index" n:if="$review->drinks">
                                <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <title>Drinks</title>
                                        <path fill="#eecc51" d="m13.36662,22.75617c0,-0.40659 0,-0.69885 0,-1.10219c1.21846,0 2.37715,0 3.68262,0c0,-2.76035 0,-5.42069 0,-8.35574c-3.02144,-3.51248 -6.24229,-7.25682 -9.50925,-11.05507c6.55796,0 13.19189,0 19.92001,0c-1.5666,1.8829 -3.10264,3.77421 -4.68741,5.62399c-1.57566,1.84066 -3.1994,3.63975 -4.86211,5.52719c0,2.60058 0,5.2687 0,8.16284c1.25092,0 2.49146,0 3.77617,0c0,0.51767 0,0.80993 0,1.19963c-2.80063,-0.00066 -5.5454,-0.00066 -8.32003,-0.00066z" id="svg_52"></path>
                                    </g>
                                </svg>
                                <div class="value">{$review->drinks} %</div>
                            </div>
                        </div>
                        <div class="divider" n:if="($review->atmosphere OR $review->personal OR $review->drinks) and $review->comment"></div>
                        <p class="paragraph">
                            {$review->comment}
                        </p>
                        {if $review->picture}
                        <div class="divider"></div>
                        <div class="picture">
                            <a href="../images/reviews/{$review->picture}@max.png" data-lightbox="{$review->picture}">
                                <img data-parallax='{"y": 20}' n:if="$review->picture" src="/images/reviews/{$review->picture}.png" alt="" width="auto" height="auto">
                            </a>
                        </div>
                        {/if}
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
        {if $reviewsLock}
            <script src="../js/ajax/addReviewForm.js"></script>
        {/if}
        {/snippet}
    </div>
</div>

{include '../components/ledge.latte'}

{if !$user->isLoggedIn()}
    
    {include '../components/popUps/popUpLogIn.latte'}

{/if}