body 
{
    font-family: regular;
    font-size: 14px;
}

.button
{
    font-size: 12px;
    font-family: bold;
}

.radioCheck
{
    
    .labelText
    {
        font-size: 12px;
    }
    
}

.error
{
    font-family: bold;
    font-size: 12px;
}

.forgotPassword
{
    font-size: 12px;
}

.submenu
{
    .name
    {
        font-family: bold;
        font-size: 14px;
    }
    
    .description
    {
        font-size: 11px;
    }
    
    .time
    {
        font-size: 9px;
    }
    
}

.gate
{
    
    h1
    {
        font-size: 0;
        font-weight: normal;
        
        span
        {
            font-size: 32px;
            font-family: bold;
        }
    }
    
    h2
    {
        font-size: 14px;
        font-family: regular;
        font-weight: normal;
    }
    
    .userMail
    {
        font-size: 12px;
        font-family: bold;
    }
    
    .fbButton
    {
        font-size: 14px;
        font-family: bold;
        font-weight: normal;
    }
    
    .divider
    {
        font-size: 12px;
        font-family: semibold;
    }
    
    .input
    {
        font-family: semibold;
        font-size: 12px;
    }
    
    .regButton
    {
        font-size: 12px;
        font-family: bold;
    }
    
    .image-editor
    {
        .image-upload
        {
            span
            {
                font-family: bold;
                font-size: 12px;
            }
        }
    }
}

.ledge
{
    .logo
    {
        span
        {
            font-size: 15px;
            font-family: bold;
        }
    }
    
    .search
    {
        .input
        {
            font-size: 12px;
            font-family: bold;
        }
    }
    
    .user
    {
        .control
        {
            font-size: 10px;
            font-family: bold;
        } 
    }
}

.header
{
    
    h1
    {
        font-size: 30px;
        font-family: bold;
    }
    
    .entity
    {
        
        .breadcrumb
        {
            a
            {
                font-size: 12px;
                font-family: bold;
            }
        }
        
        .introduction
        {
            font-size: 14px;
            font-family: bold;
        }
        
        .features
        {
            a
            {
                font-size: 12px;
                font-family: bold;
            }
        }
    }
    
    .placeSelectorButton
    {
        text-decoration: none;
        
        .otherPlace
        {
            font-size: 12px;
            font-family: bold;
        }
        
        .description
        {
            font-size: 14px;
            font-family: bold;
        }
    }
}

.card
{
    .identity
    {
        .name
        {
            font-size: 14px;
            font-family: bold;
        }
        
        .time
        {
            font-size: 11px;
            font-family: regular;
        }
        
        .sentence, .hype
        {
            font-size: 12px;
            font-family: bold;
        }
    }
    
    .partyHead
    {
        h2
        {
            font-size: 18px;
            font-family: bold;
        }
        
        .dateAndHype
        {
            font-size: 12px;
            font-family: bold;
        }
    }
    
    .entities, .title
    {
        font-size: 14px;
        font-family: bold;
    }
    
    .description
    {
        font-size: 11px;
        font-family: regular;
        
        .link
        {
            font-size: 11px;
            font-family: bold;
        }
    }
    
    .reviewRating
    {
        .value
        {
            font-size: 14px;
            font-family: bold;
        }
    }
    
    .sceneRating
    {
        .value
        {
            font-size: 14px;
            font-family: bold;
        }
        
        .attribute
        {
            font-size: 12px;
            font-family: bold;
        }
    }
    
    .paragraph
    {
        font-size: 12px;
    }
    
    .entityName
    {
        font-family: light;
        font-size: 30px;
    }
    
    .users
    {
        font-family: bold;
        font-size: 12px;
    }
}

.navigation
{
    .link
    {
        font-family: bold;
        font-size: 16px;
    }
    
    .number
    {
        font-family: bold;
        font-size: 20px;
    }
}

.placeParties
{
    .owl-carousel
    {
        .owl-controls
        {
            font-family: bold;
        }
    }
}

.placeScenes
{
    .sceneHead
    {
        h2
        {
            font-size: 18px;
            font-family: bold;
        }

        .description
        {
            font-size: 12px;
            font-family: bold;
        }

        .attribute
        {
            font-size: 12px;
            font-family: bold;
        }

        .value
        {
            font-size: 14px;
            font-family: bold;
        }
    }
    
    .sceneActivities
    {
        .content
        {
            font-size: 12px;
            
            .user
            {
                font-family: bold;
            }
        }
        
        .timing
        {
            font-size: 10px;
        }
    }
}

.sceneDescribe
{
    .priceList
    {
        h2
        {
            font-family: bold;
            font-size: 14px;
        }
        
        .description
        {
            font-size: 12px;
        }
    }
    
    .overviewRating
    {
        .value
        {
            font-family: semibold;
            font-size: 25px;
        }
        
        .index
        {
            font-family: bold;
            font-size: 14px;
        }   
    }
}

.popUp
{
    .logIn
    {
        font-size: 10px;
    }
    
    .popUpTitle
    {
        font-size: 30px;
        font-family: light;
    }

    .popUpBody
    {
        font-size: 12px;
    }
    
    .activeDay
    {
        font-family: bold;
    }
}

.addCard
{
    .label
    {
        font-size: 14px;
        font-family: bold;
    }

    textarea
    {
        font-size: 12px;
    }

    .rating
    {
        font-family: bold;
    }

    .addCardButton
    {
        .wrap
        {
            span
            {
                font-family: bold;
                font-size: 12px;
                color: white;
            }
        }
    }
}