{block title}{$infodata->name}{/block}

{block content}

<div class="header">
    
    <div class="inner">
        <div class="identity">
            <img src="../images/events/{$infodata->picture}_med.jpg">
        </div>
        <div class="entity">
            <div class="breadcrumb buttons">
                <a href="{link Place:default, $infodata->scene->id_place}">
                    <span id="placeName">{$infodata->scene->place->name}</span>
                    <div class="arrowRight"></div>
                </a>
                    <a href="{link Scene:default, $infodata->id_scene}">
                    <span id="sceneName">{$infodata->scene->name}</span>
                    <div class="arrowRight"></div>
                </a>
            </div>
                    <h1 id="sceneName">
                        {$infodata->name}
                    </h1>
            <div class="introduction">
                <span>Uskuteční se v  {$infodata->datetime|date:'j.n.Y'} od 17 hodin. |</span>
                <span class="yellow">{$infodata->hype} hype</span>
            </div>
            <div class="features buttons">
                <a href="" id="{if $infodata->address}mapLinkEvent{else}mapLinkScene{/if}" tabindex="0" target="_blank">
                    <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
                        <g fill="white">
                            <title>Navigation</title>
                            <path d="m2.4048,10.25406c6.81008,-2.08148 12.56285,-3.83918 19.20357,-5.86923c-2.01038,6.04775 -3.80139,11.43591 -6.00842,18.07205c-0.89095,-8.31069 -6.24888,-10.63266 -13.19516,-12.20282z"/>
                        </g>
                    </svg>
                    <span id="streetName">{if $infodata->address} {$infodata->address} {else} {$infodata->scene->address} {/if}</span>
                </a>
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="38px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g fill="white">
                            <path d="M25.719,2.868L9.206,2.877C8.258,2.875,7.488,3.646,7.49,4.594v0.787c-0.352-0.152-0.786-0.257-1.34-0.257
                                c-0.695,0-1.271,0.155-1.334,0.175C4.681,5.338,4.559,5.403,4.454,5.495l-6.294,5.514c-0.206,0.183-0.32,0.447-0.315,0.72
                                l0.055,9.079c0.013,0.483,0.568,0.878,1.052,0.901c0.025,0,2.373,0.097,4.446,0.097c1.265,0,2.157-0.032,2.727-0.104
                                c1.66-0.21,2.384-0.698,2.685-1.012c0.313-0.229,0.59-0.451,0.88-0.677c-0.242,0.887,0.163,1.851,1.011,2.281
                                c0.273,0.141,0.583,0.215,0.888,0.215c0.545,0,1.043-0.227,1.409-0.599c0.181,0.24,0.405,0.455,0.694,0.603
                                c0.275,0.137,0.584,0.209,0.89,0.209c0.746,0,1.42-0.414,1.756-1.08l1.306-2.57c0.238-0.473,0.288-1.005,0.122-1.504
                                c-0.051-0.163-0.138-0.314-0.23-0.453l8.172,0.004c0.947,0,1.718-0.77,1.719-1.716l0.009-10.798
                                C27.435,3.655,26.665,2.868,25.719,2.868z M13.553,18.293l-1.302,2.574c-0.176,0.354-0.634,0.506-0.993,0.327
                                c-0.363-0.186-0.508-0.631-0.324-0.994l1.071-2.108c0,0,0.351-0.857,0.911-0.865c0.109,0.002,0.215,0.026,0.315,0.079
                                c0.173,0.091,0.306,0.237,0.366,0.425C13.659,17.92,13.646,18.118,13.553,18.293z M11.5,16.032l-1.177,1.079h0.01
                                c-0.737,0.639-1.614,1.349-2.695,2.146c-0.081,0.059-0.087,0.055-0.145,0.135c-0.003,0.003-0.36,0.32-1.592,0.474
                                c-0.337,0.043-1.042,0.036-2.5,0.036c-1.267,0-2.847,0.017-3.708-0.011l0.015-7.776l5.792-5.077
                                C5.654,7.01,5.892,6.976,6.149,6.976c0.377,0,0.636,0.066,0.777,0.206v6.419c0,0.326,0.172,0.625,0.452,0.793
                                c0.032,0.02,0.071,0.016,0.105,0.031v0.069l0.085-0.043c0.239,0.079,0.496,0.091,0.724-0.036c1.439-0.78,4.167-2.021,5.355-2.021
                                c0.053,0,0.098,0,0.129,0.006c0.008,0.012,0.01,0.019,0.018,0.026C13.818,12.552,13.937,13.62,11.5,16.032z M16.543,18.511
                                l-1.302,2.57c-0.178,0.356-0.639,0.508-0.993,0.328c-0.363-0.183-0.508-0.629-0.321-0.993l1.3-2.572
                                c0.128-0.248,0.38-0.406,0.658-0.406c0.118,0,0.23,0.028,0.337,0.082c0.177,0.091,0.308,0.24,0.366,0.426
                                C16.65,18.135,16.635,18.332,16.543,18.511z M26.287,15.399c-0.005,0.318-0.26,0.57-0.574,0.57l-11.659-0.003
                                c0.953-1.175,1.5-2.229,1.591-3.144c0.066-0.723-0.147-1.185-0.306-1.413c-0.193-0.369-0.652-0.869-1.69-0.869
                                c-1.358,0-3.477,0.888-4.873,1.553V9.531l17.511-0.004V15.399z M26.287,6.133L8.632,6.125V4.59c0-0.316,0.256-0.572,0.572-0.572
                                l16.515-0.013c0.313,0,0.573,0.279,0.573,0.593L26.287,6.133z"/>
                            <polygon points="24.984,14.911 24.973,13.359 20.453,13.354 20.465,14.911 	"/>
                        </g>
                    </svg>
                    <span>Koupit vstupenky</span>
                </a>
                <a href="#" tabindex="0">
                    <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g fill="white">
                            <path d="M5.176,17.313c-1.198,0-2.172,0.975-2.172,2.171c0,1.197,0.974,2.173,2.172,2.173
                                    c1.198,0,2.173-0.976,2.173-2.173C7.349,18.287,6.374,17.313,5.176,17.313z"/>
                            <path d="M3.365,11.125c-0.093-0.002-0.183,0.032-0.25,0.097c-0.067,0.065-0.104,0.154-0.104,0.247v2.787
                                    c0,0.183,0.145,0.335,0.328,0.345c3.667,0.166,6.558,3.057,6.725,6.725c0.009,0.183,0.16,0.327,0.344,0.327h2.788
                                    c0.092,0,0.182-0.038,0.246-0.105c0.064-0.065,0.1-0.157,0.096-0.25c-0.089-2.672-1.184-5.188-3.082-7.089
                                    C8.557,12.308,6.038,11.213,3.365,11.125z"/>
                            <path d="M14.872,9.79C11.79,6.708,7.703,4.961,3.36,4.871C3.268,4.867,3.179,4.905,3.112,4.969
                                    C3.048,5.034,3.01,5.123,3.01,5.215V8c0,0.187,0.148,0.338,0.335,0.345c6.978,0.174,12.797,5.993,12.971,12.969
                                    c0.006,0.189,0.158,0.338,0.345,0.338h2.784c0.094,0,0.182-0.037,0.247-0.104c0.063-0.066,0.1-0.155,0.098-0.248
                                    C19.7,16.96,17.953,12.872,14.872,9.79z"/>
                        </g>
                    </svg>
                    <span>Přihlásit odběr</span>
                </a>
            </div>
        </div>
    </div>
</div>
                    
<div id="navigation" class="navigation">
    <div class="inner">
        <ul>
            <li>
                <a href="" id="eventDescribe" class="active">
                    <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Describe</title>
                            <g fill="white">
                                <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="32.129,60.205 32.129,30.917 43.202,30.917 43.202,60.205"/>
                                <circle fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" cx="38.052" cy="14.488" r="8.49"/>
                                <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="51.972,57.217 51.972,67.865 25.534,67.865 25.534,57.217"/>
                                <line fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" x1="26.727" y1="58.709" x2="31.012" y2="58.709"/>
                                <line fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" x1="44.24" y1="58.719" x2="50.805" y2="58.719"/>
                            </g>
                        </g>
                    </svg>
                    <div class="link">Popis <br class="divider"> akce</div>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" id="eventAttending">
                    <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="90px" height="75px" viewBox="0 0 90 75" enable-background="new 0 0 90 75" xml:space="preserve">
                        <g fill="white">
                            <title>Attending</title>
                            <circle stroke="white" fill="none" stroke-width="3" stroke-miterlimit="10" cx="18" cy="19.125" r="12.125"/>
                            <circle stroke="white" fill="none" stroke-width="3" stroke-miterlimit="10" cx="77.625" cy="28.375" r="7.5"/>
                            <circle stroke="white" fill="none" stroke-width="3" stroke-miterlimit="10" cx="41.375" cy="60" r="9.875"/>
                            <line stroke="white" stroke-width="2" stroke-miterlimit="10" x1="23.125" y1="29.875" x2="35.75" y2="52.25"/>
                            <line stroke="white" stroke-width="2" stroke-miterlimit="10" x1="29.875" y1="22.375" x2="69.875" y2="27.125"/>
                            <line stroke="white" stroke-width="2" stroke-miterlimit="10" x1="72.125" y1="33.625" x2="49" y2="54"/>
                        </g>
                    </svg>
                    <div class="link">Zůčastní <br class="divider"> se</div>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" id="eventDescribe">
                    <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
                        <g fill="white">
                            <polyline fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" points="45,20.352 68.468,20.352 
                                    68.468,67.672 5.875,67.672 5.875,20.352 27.75,20.352 	"/>
                            <line stroke="white" stroke-width="2" stroke-miterlimit="10" x1="21.625" y1="47" x2="51.75" y2="47"/>
                            <line stroke="white" stroke-width="2" stroke-miterlimit="10" x1="21.625" y1="53" x2="51.75" y2="53"/>
                            <path d="M53.843,2.819c-1.345-1.35-3.141-2.092-5.047-2.092c-1.905,0-3.699,0.741-5.045,2.089L22.28,24.163
                                    c-0.127,0.125-0.224,0.277-0.286,0.446l-4.859,13.363c-0.156,0.432-0.055,0.919,0.262,1.253c0.233,0.245,0.553,0.377,0.882,0.377
                                    c0.119,0,0.238-0.016,0.356-0.054l12.087-3.707c0.189-0.057,0.361-0.162,0.503-0.301l22.621-22.622
                                    c1.351-1.348,2.093-3.142,2.093-5.05C55.938,5.961,55.196,4.167,53.843,2.819z M29.323,33.729L24.8,35.117
                                    c-0.264-0.773-0.674-1.458-1.234-2.019c-0.487-0.484-1.052-0.861-1.647-1.168l2.071-5.692h2.793v2.43
                                    c0,0.671,0.543,1.215,1.215,1.215h2.145L29.323,33.729z M47.208,16.12L32.404,30.923l0.427-2.002
                                    c0.074-0.359-0.016-0.731-0.247-1.017c-0.231-0.286-0.577-0.451-0.943-0.451h-2.43v-2.43c0-0.67-0.545-1.215-1.215-1.215H26.08
                                    L40.528,9.443l0.016,0.014c0.888-0.891,2.072-1.381,3.329-1.381s2.444,0.49,3.331,1.381c0.89,0.89,1.383,2.074,1.383,3.333
                                    C48.587,14.047,48.098,15.229,47.208,16.12z M52.125,11.2l-1.132,1.134c-0.109-1.736-0.828-3.354-2.068-4.595
                                    c-1.24-1.242-2.858-1.96-4.601-2.069l1.14-1.131l0.003-0.003c0.886-0.89,2.071-1.38,3.329-1.38c1.259,0,2.442,0.49,3.329,1.38
                                    c0.893,0.891,1.384,2.073,1.384,3.331C53.509,9.128,53.02,10.311,52.125,11.2z M44.146,10.802L31.998,22.95
                                    c-0.474,0.474-0.474,1.244,0,1.718c0.235,0.237,0.547,0.356,0.859,0.356s0.622-0.119,0.859-0.356L45.863,12.52
                                    c0.475-0.475,0.475-1.243,0-1.718C45.388,10.327,44.62,10.327,44.146,10.802z"/>
                        </g>
                    </svg>
                    <div class="link">Zeď <br class="divider"> akce</div>
                    <div class="activeTagger">
                        <div class="arrowBottom"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
      
<div class="eventDescribe">
    <div class="inner">
        <div id="gridEventDescribe" class="grid">
            {foreach $infodata->related('entity')->order('order','ASC') as $entity}
            <div class="grid-item">
                <div class="card">
                    <div class="title">
                        {$entity->title}
                    </div>
                    <div class="divider"></div>
                    {if $entity->name}
                        <div class="entityName">
                            {$entity->name}
                        </div>
                        <div class="divider"></div>
                    {/if}
                    <div class="users">
                        {foreach $entity->related('user_entity_mapping') as $map}
                        <a href="#" class="user">
                            <img src="../images/users/{$map->user->picture}_med.png" width="50" height="50">
                                <span>{$map->user->name|truncate:20}</span>
                        </a>
                        {if $iterator->last}
                        <div class="divider"></div>
                        {/if}
                        {/foreach}
                    </div>
                    {if $entity->picture}
                        <div class="picture">
                            <a href="../images/entities/{$entity->picture}@2x.png" data-lightbox="{$entity->picture}">
                                <img data-parallax='{"y": 20}' src="/images/entities/{$entity->picture}.png" alt="" width="auto" height="auto">
                            </a>
                        </div>
                        <div class="divider"></div>
                    {/if}
                    {if $entity->embedded}
                        <div class="embedded">
                            <div class="frame" data-parallax='{"y": 20}'>
                            {$entity->embedded|noescape}
                            </div>
                        </div>
                        <div class="divider"></div>
                    {/if}
                    <p class="paragraph">
                        {$entity->description|noescape}
                    </p>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>
                
<div class="eventAttending">
    <div class="inner">

    </div>
</div>

{include '../components/ledge.latte'}

{if !$user->isLoggedIn()}
    
    {include '../components/popUps/popUpLogIn.latte'}

{/if}